<body>
    <div class="Cart-Container">
        <div class="left">
            <div class="Header">
                <h3 class="Heading">
                    <i class="fas fa-shopping-cart"></i>&nbsp;
                    Shopping Cart
                </h3>            
                <h5><button class="Action" (click)="onRemoveAllClicked()">
                    <i class="fas fa-trash-alt"></i>&nbsp;
                    Remove all
                </button></h5>          
                
            </div>
            <div *ngIf="numberOfItems === 0" class="Empty-Cart-Content">
                <div class="Center-Content">
                    <img src="assets/images/empty-shopping-cart.jpg" alt="Your Cart Is Empty Image" class="Empty-Cart-Image">
                    
                    <p><b>Your Cart is Empty</b></p>
                    <p>Looks like you haven't added anything to your cart yet.</p>
                    <button class="shop-button" (click)="shopNow()">Shop Now</button>
                </div>
            </div>
            <div class="Cart-Items" *ngFor="let oi of orderItems">
                <div class="image-container">
                    <img [src]="oi.image" alt="Item Image" />
                </div>
                
                <div class="about">
                    <h1 class="title">{{ oi.itemName }}</h1>
                </div>
                <!--<div class="counter">
                    <div class="btn">+</div>
                    <div class="count">2</div>
                    <div class="btn">-</div>
                </div>-->
                <div class="prices">
                    <div class="amount"> {{ oi.price }}&nbsp;AC</div>
                    <!--<button class="wishlist" (click)="addToWishlist(oi)" [ngClass]="{'liked': isLiked(oi)}">
                        <i class="fas fa-heart"></i>&nbsp;
                        Add to wish list
                    </button>-->
                    <button class="remove" *ngIf="oi.id" (click)="onRemoveClicked(oi.id)">
                        <i class="fas fa-trash-alt"></i>&nbsp;
                        Remove
                    </button>
                </div>
                            
            </div>
    
        </div>
       

        <div class="right">
            <div class="payment">
                <div class="payment-title">
                    <i class="fas fa-credit-card"></i> PAYMENT
                </div>                
                <div class="wallet-balance">
                    Wallet Balance
                    <div class="wallet">{{ wallet.ac }} AC</div>
                </div>
                <div class="apply-coupon">
                    <!--<p class="discount" *ngIf="firstPurchaseDiscount > 0">Your discount is {{firstPurchaseDiscount}}%, because of first purchase.</p>
                    <p class="discount" *ngIf="discount > 0">Your discount is {{discount}}%, because of your {{profile.xp}} XP.</p>-->
                    <p class="discount" *ngIf="(firstPurchaseDiscount > 0 && !(discount > 0)) || (discount > 0 && !(firstPurchaseDiscount > 0))">
                        Your discount is 
                        <ng-container *ngIf="firstPurchaseDiscount > 0"> {{firstPurchaseDiscount}}%, because of the first purchase.</ng-container>
                        <ng-container *ngIf="discount > 0"> {{discount}}%, because of your {{profile.xp}} XP.</ng-container>
                    </p>
                </div>  
                <div class="total-row">
                    <div class="total">
                        <div class="Subtotal">Total</div>
                        <div class="items">{{ numberOfItems }} items</div>                       
                    </div> 
                    <div class="total-amount">{{ totalPrice }}&nbsp;AC</div>
                </div>                       
                <div class="checkout">
                    <button class="button" (click)="onCheckoutClicked()">Checkout</button>
                </div>          
            </div> 
        </div>



    </div>
</body>