/* Styles for the bundles section */
.bundle-list {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.all{
  min-height: 100vh;
}
.bundle-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
  margin-top: 50px;

}

.bundle:hover .details {
  height: 80%;
}

.bundle {
  width: 220px;
  height: 300px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 20px;
  background-size: cover; /* Set background-size to cover */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  border-radius: 10px;
}



.bundle .details {
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 3.5em;
  transition: height 0.5s ease-in-out;
  padding: 0.6em;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 10px;
  backdrop-filter: blur(19px); /* Adjust the blur value as needed */
}



.bundle .details > label {
  font-weight: bold;
}


.bundle .details > p {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.bundle .details .button-container {
  margin-top: 10px;
}

.bundle .view-button {
  display: inline-block;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color:  rgb(56, 28, 117);
  background-color: #ffffff;
  border: 0.2vw solid rgb(56, 28, 117);
  border-radius: 0.375vw;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.bundle .view-button:hover {
  background-color:  rgb(56, 28, 117);;
  color: #ffffff;
}

.cart-button {
  display: inline-block;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16;
  color: rgb(56, 28, 117);
  background-color: #ffffff;
  border: 0.2vw solid #2E003D;
  border-radius: 0.375vw;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin-top: -420px;
  margin-right: 30px;

  position: absolute; /* Postavlja apsolutni položaj */
  top: 485px; /* Postavlja na vrh stranice */
  right: 10px; /* Postavlja na desnu stranu stranice */
}

.cart-button i.fas.fa-shopping-cart::before {
  margin-right: 5px; /* Margina sa desne strane ikone */
  font-size: 20px; /* Veličina ikone korpe */
}

.cart-button:hover {
  background-color: rgb(56, 28, 117);;
  color: #ffffff;
}

.cart-button:hover .numberOfItems {
  position: absolute;
  bottom: 7px;
  left: 25px;
  background:  rgb(56, 28, 117);;
  color: 2E003D;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  line-height: 12px;
  font-weight: 500;
  border: 1px solid white; 
}

.numberOfItems {
  position: absolute;
  bottom: 7px;
  left: 25px;
  background: white;
  color: 2E003D;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  line-height: 12px;
  font-weight: 500;
  border: 1px solid #2E003D;
}

.numberOfItems:hover {
  position: absolute;
  bottom: 7px;
  left: 25px;
  background:  rgb(56, 28, 117);;
  color: 2E003D;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  line-height: 12px;
  font-weight: 500;
  border: 1px solid white;
}
.header{
  color: rgb(56, 28, 117);
}