<div class="all">
<div class="bundle-list">
     <h1 class="header">Available Tours</h1>
     <div class="header-container">  
     </div>
     <div class="bundle-container">
      <div *ngFor="let tour of tours" class="card">
        <div class="remove-when-use">
        </div>
        <div class="bundle"  [ngStyle]="{'background-image': 'url(' + tour.image + ')'}">   
        <div class="details">
          <label>{{ tour.name }}</label>
          <p>Status: <i>{{ getStatusWord(tour.status) }}</i></p>
          <div class="button-container">
            <a class="view-button" [routerLink]="'/tour/' + tour.id">
                <i class="fas fa-info-circle"></i> View more
            </a>
          </div>
        
            <div class="button-container" *ngIf="tour.status == 0 || tour.status == 2">
                <a class="view-button" (click)="onPublishClicked(tour)">
                    <i class="fas fa-upload"></i> Publish
                </a>
            </div>
        
            <div class="button-container" *ngIf="tour.status == 1">
                <a class="view-button" (click)="onArchiveClicked(tour)">
                    <i class="fas fa-archive"></i> Archive
                </a>
            </div>
    </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
  