.posts{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .post-list{
    display: flex;
    flex-direction: column;
    align-items: center;
     
    max-width: 80%;
  }
    
    .post-header {
      display: block;
      display: flex;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 8px;
      margin-top: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 15px; 
      min-width: 45vw;
      max-width: 45vw;
    }
    
    .user-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      display: flex;
      align-items: start;
      justify-content: start;
    }
    
    .post-info {
      flex-grow: 1;
      max-width: 70%;
    }
    
    .user-name {
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .post-time {
      color: #555;
    }
    
    .post-content {
      margin-top: 10px;
      padding: 15px;
    }
    
    .likes-container {
      margin-top: 10px;
    }
    
    .like-icon, .dislike-icon {
      margin-right: 5px;
      font-size: 18px;
    }
    
    .comments-list {
      list-style-type: none;
      padding: 0;
      margin-top: 15px;
    }
    
    .comment-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    
    .comment-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }
    
    .comment-details {
      flex-grow: 1;
    }
    
    .comment-input {
      display: flex;
      align-items: center;
      margin-top: 15px;
    }
    
    .comment-text {
      flex-grow: 1;
      margin-right: 10px;
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    .comment-button {    
      background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
      color: white;
      border: none;
      padding: 8px 15px;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .comment-button:hover {
      background: white;
      color: black;
      border: 1px solid rgb(56, 28, 117);
    }
  
    .read-more-button {
      
      background-color: #2a2133;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 1px;
    }
  
    .action-button {
      margin-top: 20px;
      background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
    }
    
    .action-button:hover {
      background: white;
      color: black;
      border: 1px solid rgb(56, 28, 117);
    }
  
    .vote-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
      margin-right: 5px;
    }
    .votes{
      display: flex;
      align-items: row;
      justify-content: center;
    }
    img{
      max-width: 25vw;
    }