.Header{
    margin-bottom: 15px;
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .Heading{
    font-size: 25px;
    font-weight: 700;
    color: #2F3841;
   }

div#button {
    background-color: #ffffff;
    color: #2e003e;
    width: 107px;
    border-radius: 7px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    padding-right: 0.7em;
    cursor: pointer;
    margin-top:1em;
}


div#sale-form {
    margin-left: 2em;
}