    <form [formGroup]="clubForm">
        <table>
            <tr>
                <td><label for="clubName">Name:</label></td>
                <td><input [(ngModel)]="club.name" type="text" id="clubName" formControlName="name" required></td>
            </tr>
            <tr>
                <td><label for="clubDescription">Description:</label></td>
                <td><textarea [(ngModel)]="club.description" id="clubDescription" formControlName="description" rows="4" required></textarea></td>
            </tr>
            <tr>
                <td><label for="clubImageUrl">Image Url:</label></td>
                <td><textarea [(ngModel)]="club.imageUrl" id="clubImageUrl" formControlName="imageUrl" rows="4" required></textarea></td>
            </tr>
        </table>
        <br>
        <button *ngIf="!shouldEdit" color="primary" type="submit" (click)="addClub()" mat-raised-button>Done</button>
        <button *ngIf="shouldEdit" color="primary" type="submit" (click)="updateClub()" mat-raised-button>Done</button>
    </form>