.message-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  width: 55vw;
  height: 20vw;
}

.form-heading {
  color: rgb(56, 28, 117);
  text-align: center;
  margin-bottom: 20px;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-input {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 30px;
}

.done-button {
  margin-top: 30px;
  background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.done-button:hover {
  background: white;
  color: black;
  border: 1px solid rgb(56, 28, 117);
}

.tablecontent{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  margin: 0;
  border-collapse: collapse;
}

table{
  width: 100%;    
  display: flex;
  flex-direction: row;    
  box-shadow: none;
}

table td {
  padding: 10px;    
  display: flex;
  flex-direction: column;
  top:0%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
}

.file-upload-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.upload-button {
  margin-bottom: 10px;
}

.uploaded-file-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: auto;
}

.delete-button {
  margin-left: 10px;
  margin-top: 0;
}

.namecontainer{
  height: 100%;
}

.fixed-width-container {
  display: inline-block;
  width: 20vw;
}

.fixed-width-input {
  width: 100%;
  box-sizing: border-box;
}

.fixed-textarea {
  resize: none;
}

.left{
  width: 60%;
}

.right{
  width: 40%;
}

.action-button-file{
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  padding: auto;
}

.action-button-file:hover {
  background: white;
  color: black;
  border: 1px solid rgb(56, 28, 117);
}

.thumbnail {
  width: 150px;
  height: 150px;
}

.thumbnail img {
  width: 100%;
  height: auto; 
}