/* Style the image container */
.hero-image-container {
  position: relative;
  overflow: hidden; /* Clip image overflow */
  width: 100vw - 20px; /* Stretch to full width of the page */
  height: 65vh;
}

/* Style the background image */
.hero-image-background {
  width: 100vw;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
  display: block;
}

/* Style the text overlay container */
.hero-image-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align text to the left */
  text-align: left;
  background: rgba(0, 0, 0, 0.25); /* Semi-transparent background for text */
  color: #fff; /* Text color */
  margin-bottom: 4vw;
}

/* Style the text within the overlay */
.hero-image-text-overlay h1 {
  font-size: 5vw;
  font-family: 'Montserrat', sans-serif; /* Montserrat font family */
  position: relative;
  left: 5vw;
  margin-top: 0.5vw;
  margin-bottom: 1.5vw;
}
