#tour {
    margin-top: 20px;
    margin-left: 20px;

}

#tour-details {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
}

p {
    font-size: 30px;
    margin-left: 50px;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

thead tr {
    background-color: #3f51b5;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f51b5;
}

.tbody tr.active-row {
    font-weight: bold;
    color: #3f51b5;
}
.thumbnail {
    width: 80px; /* Adjust the width to your desired size */
    height: 80px; /* Adjust the height to your desired size */
  }
.thumbnail img {
    width: 80%; /* Ensure the image fills the cell */
    height: 80%; 
  }