.bundle-container {
    max-width: 65%;
    background: white;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    
  }
  .all{
    min-height: 100vh;
  }

  .bundle-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto; /* Add this line to enable scrolling */
    max-height: 500px;
    
  }
  
  .bundle-item {
    margin: 10px;
    position: relative;
  }

  .bundle-item.tour {
    margin: 10px;
    position: relative;
    display: flex; /* Add this line to make children align horizontally */
}
  
  .image-container {
    position: relative;
    overflow: hidden;
    width: 220px; /* Adjust the width as needed */
    height: 290px;  /* Adjust the height as needed */
    border-radius: 10px;
    background: rgb(173, 222, 239, 0.2);/* Add this line to set the background color */
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

  .image-container:hover{
    background: rgb(173, 222, 239, 0.4);
  }

  .tour-container {
    overflow: hidden;
    width: 650px; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    border-radius: 10px;
    background: rgb(173, 222, 239, 0.2);; /* Add this line to set the background color */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.overlay {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bundle-description h3,
.bundle-price p {
  margin: 0;
  white-space: normal; /* Add this line to allow text wrapping */
}
  .bundle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .white-text {
    color: white;
  }

  
  .user-title-section {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centriraj horizontalno */
    align-items: center; /* Centriraj vertikalno */
}

.user-title {
    color: rgb(56, 28, 117);
    margin-bottom: 30px;
    margin-top: 50px;
}

.create-button {
    background: rgb(56, 28, 117);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 15px;
    margin: auto; /* Set margin to 'auto' for centering and add 200px right margin */
    display: block;

}

.paragraf {
    text-align: center;
    margin: 0 auto;
    max-width: 600px; /* Prilagodite vrednost prema potrebi */
    font-size: medium; /* Prilagodite vrednost prema potrebi */
    line-height: 20;
    font-family: 'Montserrat', sans-serif;
    margin-top: -50px;
    height: 20px;
  }
  .create-button:hover {
    background: white;
    color: black;
    border: 1px solid rgb(56, 28, 117);
  }