<div class="all"> 
  <div class="user-title-section">
    <h1 class="user-title">What are composed tours?</h1>
  </div>
  <div>
    <img src="../../../../assets/icons/complex-tours.png" alt="Custom Icon"
    style="width: 160px; height: 144px; display: block; margin: auto;">
  </div>
  <div class="description">
    As a tourist, you have the ability to create your own campaign of tours. From your collection of purchased tours, you can select at least two to create a composite tour, essentially a tour that combines multiple other tours. The system links the endpoint of one tour with the starting point of another, creating a chain of tours.
  </div>
  <div class="user-title-section">
    <h1 class="user-title">All your composed tours</h1>
  </div>
  <button routerLink="/complex-tour-creaton" class="create-button">Create a Composed Tour</button>
  <div class="tour-container">
    <div class="tour-list">
      <div *ngFor="let tour of composedTours" class="tour-item">
        <div class="image-container">
          <img [src]="tour && tour.id ? tourImagesMap[tour.id] : ''" alt="Tour Image" class="tour-image" />
          <div class="overlay">
            <div class="tour-description">
              <h3>{{ tour.name }}</h3>
            </div>
            <br>
            <div class="tour-status">
            </div>
          </div>
        </div>
        <div class="tour-actions">
          <button mat-icon-button color="primary" class="action-button" matTooltip="View More" (click)="redirectToComposedTour(tour)">
            <mat-icon>info</mat-icon>
          </button>          
          <button  mat-icon-button color="warn" class="action-button" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
