<div>
    <h1 class="header">Available Tours</h1>
  <div class="card-container">
      <div *ngFor="let tour of composedTours" class="card">
        <div class="remove-when-use">
        </div>
        <div class="details">
          <label>{{ tour.name }}</label>
          <p>{{ tour.description }}</p>
          <div class="button-container">
            <a class="view-button" [routerLink]="'/tour/' + tour.id">
                <i class="fas fa-info-circle"></i> View more
            </a>
        </div>
          
        </div>
      </div>
    </div>
  </div>

  