

.tour-problem-response-title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
  color: rgb(56, 28, 117);
}

/* Centrirajte komentare */
.message-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}



/* Stil za sve komentare */
.message {
  margin-bottom: 20px; /* Dodajte manji razmak između komentara */
  margin-right: 10px; /* Dodajte razmak s desne strane između komentara */
  margin-left: 10px; /* Dodajte razmak s lijeve strane između komentara */
  background-color: #f5f5f5; /* Boja pozadine komentara */
  padding: 10px;
  border-radius: 5px; /* Zaobljeni uglovi komentara */
  width: 80%; /* Podesite širinu na 80% ili prema potrebama */
  margin: 2vh; 
  border: 1px solid #ddd;
  position: relative;
}
