/* find-other-people.component.css */
.find-people-container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: none;
    width: 80vw;
    min-height: 100vh;
    padding-bottom: 40px;
  }
  .center-class {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
  }
  .profile-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13vw, 1fr));
    gap: 20px;
    justify-content: center;
    width: 100%;
    justify-content: center;
    padding: 10px;
    padding-bottom: 10px;
  }
  
  .profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    width: 10vw;
    margin: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-details {
    text-align: center;
  }
  
  .follow-button {
    margin-top: 20px;
    background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  .follow-button:hover {
    background: white;
    color: black;
    border: 1px solid rgb(56, 28, 117);
  }

  .center-class {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
  }
  .follower-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    gap: 20px;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
  }
  
  .follower-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    border-radius: 8px;
    box-shadow: none;
    width: 10vw;
    margin: auto; /* Center horizontally */
  }
  
  .profile-picture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  
  
  h1{
    color: rgb(56, 28, 117);
    margin-bottom: 30px;
  }
  

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .red-text {
    color: red;
    font-size: 18px;
    margin-bottom: 20px; /* Optional: Add margin for spacing between the text and the button */
  }
  
  .black-text {
    color: black;
    font-size: 18px;
    margin-bottom: 20px; /* Optional: Add margin for spacing between the text and the button */
  }
  
  .center-button {
    text-align: center;
    border-color: white;
  }

  