<div class="notification-container">
  <h1>Notifications</h1>
  <ul>
    <ng-container *ngFor="let notification of notifications">
      <li class="notification">
        <p>
          New message from {{ mappedUsername[notification.commenterId] }}: {{ notification.response }}
        </p>
        <button [routerLink]="'/tour-problem/' + notification.tourProblemId">Show chat</button>
      </li>
    </ng-container>
    <ng-container *ngFor="let pr of publicRequests">
      <li class="publicRequests">
        <p>
          Your request for a public {{ pr.isCheckPoint ? "checkpoint" : "object" }} is {{ pr.isApproved ? "approved" : "rejected" }} with the comment: <i>{{ pr.comment }}</i>.
        </p>
      </li>
    </ng-container>
    <ng-container *ngFor="let paymentNotification of paymentNotifications">
      <li class="notification">
        <p>
          New payment : {{paymentNotification.adventureCoin}} AC
        </p>
      </li>
    </ng-container>
  </ul>
</div>