<div>
  <xp-map-search [tours]="tours"></xp-map-search>
  <h1 class="header">Available Tours</h1>
</div>
<div class="header-container">   
  <a class="cart-button" [routerLink]="'/shopping-cart/'">
    <i class="fas fa-shopping-cart"></i> Shopping cart
    <span id="numberOfItems" class="numberOfItems">{{ numberOfItems }}</span>
  </a>
</div>
  
<div class="card-container">    
    <div *ngFor="let tour of tours" class="card">
      <div class="remove-when-use">
      </div>
      <div class="details">
        <label>{{ tour.name }}</label>
        <p>{{ tour.description }}</p>
        <div class="button-container">
          <a class="view-button" [routerLink]="'/tour/' + tour.id">View more</a>
          <button class="view-button" (click)="onAddClicked(tour)">Add to cart</button>
      </div>
      </div>
    </div>
  </div>

