<div class="map-container">
  <xp-map-search [tours]="allTours" [selectedTour]="selectedTour" (searchResultsEvent)="handleSearchResults($event)" [isActiveTourSearchActive] = "isActiveTourSearchActive"></xp-map-search>
</div>
<div class="tour-list" [@slider]="sliderState">
  <div class="slider-toggle-container">
    <i [class]="sliderState === 'small' ? 'fas fa-chevron-right' : 'fas fa-chevron-left'" (click)="toggleSlider()"></i>
  </div>
  <div class="card-container">
    
<div class="header-container">   
  <!--<a class="cart-button" [routerLink]="isLogged ? '/shopping-cart/' : '/login'">
    <i class="fas fa-shopping-cart"></i> Shopping cart
    <span id="numberOfItems" class="numberOfItems">{{ numberOfItems }}</span>
  </a>-->
  <br>
  <button class="action-button" mat-raised-button [class.view-button-activated]="isActiveTourSearchActive" [class.view-button]="!isActiveTourSearchActive" (click)="ActiveTourSearchClicked()">Active Tours</button>
  <button class="action-button" mat-raised-button [class.view-button-activated]="isNearbyTourSearchActive" [class.view-button]="!isNearbyTourSearchActive" (click)="NearbyTourSearchClicked()" >Nearby Tours</button>
</div>
  
<div class="card-container">    
    <div *ngFor="let tour of tours"  (click)="selectTour(tour)" [ngClass]="{'selected-card': tour === selectedTour}">
      <div class="favorite-heart" (click)="addToWishlist(tour)" >
        <i class="fas fa-heart"></i>
      </div>
      <div class="remove-when-use">
      </div>
      <div class="bundle"  [ngStyle]="{'background-image': 'url(' + tour.image + ')'}">
      <div class="details">
        <label>{{ tour.name }}</label>
        <p >{{ tour.price }} AC</p>
      <div class="button-container">
      <!--  <a *ngIf="boughtTours.includes(tour)" class="view-button" (click)="startTour(tour)">Start tour</a>-->
      <a class="view-button" [routerLink]="'/tour/' + tour.id">View more</a>
        <a class="view-button" (click)="startTour(tour)">Start  tour</a>
         <a class="view-button" *ngIf="isCreatedByTourist(tour)" (click)="startTour(tour)">Start  tour (as creator)</a>
         <!--<a class="view-button" *ngIf="!isCreatedByTourist(tour)">Add to cart (not as creator)</a>-->
        <a class="view-button" (click)="onAddClicked(tour)">Add to cart</a>
      </div>
      </div>
    </div>
    </div>
      </div>
    </div>
  </div>

