
    <ng-container *ngIf="markersReady | async">
        <execution-map [markerList]="markerList" [encounterMapMaterials]="encounterMapMaterials" [checkpoints]="checkpointList" [tourExecution]="tourExecution" [activeTour] = "tour" (activateEncounter)="activateEncounter($event)"></execution-map>
        <div class="panel">
            <button mat-raised-button class="complete" (click)="updateTourExec('complete')" type="submit" >Complete Tour</button>
            <button mat-raised-button class="primary" (click)="updateTourExec('abandon')" type="submit">Abandon Tour</button>
            <button mat-raised-button class="primary" (click)="leaveReview()">Leave a review</button>
        </div>
        <div>
            <xp-active-encounter></xp-active-encounter>
        </div>
    </ng-container>

