<div class="container">
  <div class="tour-creation">
    <h2>Tour Creation</h2>
    <form>
      <div class="image-container">

        <img [src]="imageSrc" alt="Image" width="225" height = "200">
        <div class="upload-text" (click)="uploadFile()">Upload Image</div>
            <input hidden #fileInput class="fixed-width-input" type="file" (change)="onFileSelected($event)">
      </div>

      <mat-form-field>
        <label for="tour-name">Tour Name:</label>
        <input matInput type="text" id="tour-name" name="tour-name" [(ngModel)]="tourName">
      </mat-form-field>
      
      <mat-form-field>
        <label for="tour-description">Tour Description:</label>
        <textarea matInput id="tour-description" name="tour-description" [(ngModel)]="tourDescription"></textarea>
      </mat-form-field>

          <!-- Inside the form in your HTML template -->
    <mat-form-field>
      <label for="tour-price">Tour Price:</label>
      <input matInput type="number" id="tour-price" name="tour-price" [(ngModel)]="tourPrice">
    </mat-form-field>

    <mat-form-field>
      <label for="tour-difficulty">Tour Difficulty:</label>
      <input matInput type="text" id="tour-difficulty" name="tour-difficulty" [(ngModel)]="tourDifficulty">
    </mat-form-field>

    <mat-form-field>
      <label for="tour-point">Tour Points:</label>
      <input matInput type="number" id="tour-point" name="tour-point" [(ngModel)]="tourPoint">
    </mat-form-field>


      <button type="submit" class="action-button" mat-raised-button color="primary" (click)="createTour()">Create Tour</button>
    </form>
  </div>
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
