<div class="container">
  <div class="tour-creation">
    <h2>Tour Creation</h2>
    <form>
      <mat-form-field>
        <label for="tour-name">Tour Name:</label>
        <input matInput type="text" id="tour-name" name="tour-name">
      </mat-form-field>

      <mat-form-field>
        <label for="tour-description">Tour Description:</label>
        <textarea matInput id="tour-description" name="tour-description"></textarea>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Create Tour</button>
    </form>
  </div>
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
