.map-frame {
  /* border: 2px solid black; */
  width: 100%;
  height: 100%;
  position: relative; /* Set the position to relative for proper positioning of #map */
}

#map {
  height: 600px;
}
.my-label {
  position: absolute;
  width:1000px;
  font-size:20px;
  pointer-events: auto !important;
}

.aktiviraj {
  position: absolute;
  width:1000px;
  font-size:20px;
  pointer-events: auto !important;
  z-index: 999;
  cursor: pointer;
}