<mat-toolbar class="navbar" color="primary">
  <div class="navbar-left">
    <button class="menuButton" mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item color="primary" [routerLink]="['home']">Home</button>
      <button mat-menu-item *ngIf="user && user.role === 'administrator'" color="primary" [routerLink]="['equipment']">Manage equipment</button> 
      <!-- New dropdown for "Tour" button -->
      <button mat-menu-item color="primary" *ngIf="user && (user.role === 'author' || user.role === 'tourist')" [matMenuTriggerFor]="tourMenu">
        Tour
      </button>
      <mat-menu #tourMenu="matMenu">
        <!--<button mat-menu-item *ngIf="user && user.role === 'author'" color="primary" [routerLink]="['object']">Add Object</button>-->
        
        <button mat-menu-item color="primary" [routerLink]="['view-tours-author']" *ngIf="user && user.role === 'author'" routerLinkActive="active-link">Tours</button>
        <button mat-menu-item color="primary" [routerLink]="['view-tours-tourist']" *ngIf="user && user.role === 'tourist'" routerLinkActive="active-link">Tours</button>
        <button mat-menu-item color="primary" [routerLink]="['create-tour']" *ngIf="user && user.role === 'author'" routerLinkActive="active-link">Create Tours</button>
        <button mat-menu-item color="primary" [routerLink]="['view-complex-tours']" *ngIf="user && user.role === 'tourist'" routerLinkActive="active-link">Complex Tours</button>
        <button mat-menu-item *ngIf="user && (user.role === 'administrator' || user.role === 'tourist' || user.role === 'author')"color="primary" [routerLink]="['tour-problems']">Tour Problems</button>
        <button mat-menu-item color="primary" [routerLink]="['sale']" *ngIf="user && (user.role === 'author' || user.role === 'tourist')">Sales</button>
        <button mat-menu-item color="primary" [routerLink]="['view-complex-tours']" *ngIf="user && user.role === 'tourist'" routerLinkActive="active-link">Complex Tours</button>

      </mat-menu>

      <button mat-menu-item color="primary"  *ngIf="user && user.role === 'administrator'" [matMenuTriggerFor]="adminMenu">
        Customer support
      </button>
      <mat-menu #adminMenu="matMenu">
        <button mat-menu-item color="primary" [routerLink]="['tour-problems']">Tour Problems</button>
        <button mat-menu-item  color="primary" [routerLink]="['questions-overview']">Questions</button>
      </mat-menu>
      <button mat-menu-item color="primary"  *ngIf="user && user.role === 'administrator'" [matMenuTriggerFor]="admin1Menu">
        Accounts & Wallets
      </button>
      <mat-menu #admin1Menu="matMenu">
      <button mat-menu-item  color="primary" [routerLink]="['wallets']">Manage wallets</button>
      <button mat-menu-item color="primary" [routerLink]="['userAccounts']">User accounts</button>
      </mat-menu>
      
      <!-- New dropdown for "Bundle" button -->
      <button mat-menu-item color="primary" *ngIf="user && (user.role === 'author' || user.role === 'tourist')" [matMenuTriggerFor]="bundleMenu">
        Bundle
      </button>
      <mat-menu #bundleMenu="matMenu">
        <button mat-menu-item color="primary" [routerLink]="['bundle-management']" *ngIf="user && user.role === 'author'" >Create Bundles</button>
        <button mat-menu-item color="primary" [routerLink]="['bundle-overview']" *ngIf="user && user.role === 'tourist'">Bundles</button>
      </mat-menu>


      <button mat-menu-item color="primary" *ngIf="user && (user.role === 'author' || user.role === 'tourist')" [matMenuTriggerFor]="clubMenu">
       Club
      </button>
      <mat-menu #clubMenu="matMenu">
        
      <button mat-menu-item color="primary" [routerLink]="['clubs']" *ngIf="user && (user.role === 'author' || user.role === 'tourist')">Clubs</button>
      <button mat-menu-item color="primary" [routerLink]="['clubRequest']" *ngIf="user && user.role === 'tourist'">Club Requests</button>
       </mat-menu>

      
      <button mat-menu-item color="primary" [routerLink]="['publicRequests']" *ngIf="user && user.role === 'administrator'">Public Requests</button>
      <button mat-menu-item color="primary" [routerLink]="['blog-review']" *ngIf="user && (user.role === 'author' || user.role === 'tourist')">Blog</button>
      <button mat-menu-item color="primary" [routerLink]="['profile']" *ngIf="user && user.role === 'tourist'" routerLinkActive="active-link">Profile</button>
      <button mat-menu-item color="primary" [routerLink]="['profile2']" *ngIf="user && user.role === 'author'" routerLinkActive="active-link">Profile</button>
      <button mat-menu-item color="primary" [routerLink]="['faq']" *ngIf="user && (user.role === 'author' || user.role === 'tourist')">Q&A</button>
      <button mat-menu-item color="primary" *ngIf="user && user.role === 'administrator'">
        <a class="register-button" href="https://docs.google.com/spreadsheets/d/1KkbXt9BpE99bzZ7EKKnOr1XYZpgu0sKh58FXY_Eplhg/edit?usp=sharing">App Data Tracking Sheet</a>
      </button>

      <button mat-menu-item color="primary" [routerLink]="['author-requests-overview']" *ngIf="user && user.role === 'administrator'">Author Requests Overview</button>
      
      <button mat-menu-item color="primary" [routerLink]="['applicationReview']" *ngIf="user && user.role === 'administrator'">Application reviews</button>
    </mat-menu>
  </div>

  <p *ngIf="user && user.username !== ''" class="explorer"><b><b>SEVEN</b></b> WANDERS</p>
  <p *ngIf="user && user.username === ''" class="explorer-logged"><b><b>SEVEN</b></b> WANDERS</p>
   <!-- <div class="navbar-right">
      
      <button class="notificationsButton" *ngIf="user && user.role === 'tourist' || user && user.role === 'author'" mat-icon-button [routerLink]="['notifications']"><mat-icon>notifications</mat-icon></button>
      <button class="logButton" *ngIf="user && user.username === ''" mat-button [routerLink]="['login']">Log In</button>
      <button class="logButton" *ngIf="user && user.username !== ''" mat-button (click)="onLogout()">Logout</button>-->

  <div class="navbar-right">
    <button class="favorite-button" *ngIf="user && user.role === 'tourist'" mat-icon-button [routerLink]="['wishlist-overview']"><mat-icon>favorite</mat-icon></button>
    <div class="header-container">   
      <a class="cart-button" *ngIf="user && user.role === 'tourist'" [routerLink]="isLogged ? '/shopping-cart/' : '/login'">
        <i class="fas fa-shopping-cart"></i> 
      </a>

    </div>
    <button class="notificationsButton" *ngIf="user && (user.role === 'tourist' || user.role === 'author')" mat-icon-button [routerLink]="['notifications']"><mat-icon>notifications</mat-icon></button>
    <button class="logButton" *ngIf="user && user.username === ''" mat-button [routerLink]="['login']">Log In</button>
    <button class="logButton" *ngIf="user && user.username !== ''" mat-button (click)="onLogout()">Logout</button>
  </div>
</mat-toolbar>
