/* General Navbar Styles */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
  width: 100vw - 20px; /* Make the navbar span the entire width */
  padding: 1rem; /* Add some padding for spacing */
  z-index: 500;
}

/* Left Section Styles */
.navbar-left {
  display: flex;
  align-items: center;
  font-weight: 350;
}

/* Right Section Styles */
.navbar-right {
  display: flex;
  align-items: center;
  font-weight: 350;
}

.menuButton {
  margin-right: 1vw; /* Adjust the spacing between the menu button and the Explorer text */
  font-weight: 350;
  text-decoration: none; /* Remove underline for anchor tags */
  color: #fff; /* Set the text color for anchor tags */
}

.explorer {
  font-size: 1.8vw;
  margin-top: 1.8vw;
  color: #fff; /* Set the text color for Explorer text */
  padding-left: 10vw;
}
.explorer-logged {
  font-size: 1.8vw;
  margin-top: 1.8vw;
  color: #fff; 
}
.notificationsButton {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 350;
  margin-left: 2vw;
  text-decoration: none;
  color: #fff;
}

.logButton {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 350;
  text-decoration: none;
  color: #fff;
}

#buttons {
  width: auto;
  margin-left: auto;
}

/* Active Link Styles */
.active-link {
  display: none;
}

a {
  text-decoration: none;
  color: #000000;
  margin-right: 1vw; /* Adjust the spacing between the menu button and the Explorer text */
  font-weight: 400;
  text-decoration: none; /* Remove underline for anchor tags */
}

.favorite-button {
  margin-right: 0px;
}

  .cart-button {
    display: inline-block;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16;
    color: #ffffff;
    border-radius: 0.375vw;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-top: -477px;
    margin-right: 110px;
  
    position: absolute; /* Postavlja apsolutni položaj */
    top: 485px; /* Postavlja na vrh stranice */
    right: 10px; /* Postavlja na desnu stranu stranice */
  }
  
  .cart-button i.fas.fa-shopping-cart::before {
    margin-right: 5px; /* Margina sa desne strane ikone */
    font-size: 20px; /* Veličina ikone korpe */
  }
  
  .cart-button:hover {
    color: #ffffff;
  }
  
  .cart-button:hover .numberOfItems {
    position: absolute;
    bottom: 7px;
    left: 25px;
    color: 2E003D;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    font-weight: 500;
    border: 1px solid white; 
  }
  
  .numberOfItems {
    position: absolute;
    bottom: 7px;
    left: 25px;
    background: 2E003D;
    color: 2E003D;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    font-weight: 500;
    border: 1px solid white;
  }
  
  .numberOfItems:hover {
    position: absolute;
    bottom: 7px;
    left: 25px;
    background: #2E003D;
    color: 2E003D;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    font-weight: 500;
    border: 1px solid white;
  }

