<div id="equipment">
    <p>Equipment</p>
    <hr>
    <div id="equipment-details">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Selected equipment</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eq of equipment">
                    <td>{{eq.name}}</td>
                    <td>{{eq.description}}</td>
                    <td>
                        <input type="checkbox" [checked]="eq.selected" id="scales" name="scales" (change)="selectEquipment(eq.id)"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>


