
#clubRequest {
    text-align: center;
    margin-top: 20px;
    min-height: 100vh;
}
.all {
    margin-top: 100vh;
}
#clubRequest p {
    font-size: 24px;
    margin-bottom: 10px;
    
}

#clubRequest-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.club-request-item {
    margin: 10px;
}

.request-card {
    width: 80vw;
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.request-table {
    width: 40%;
    border-collapse: collapse;      
    box-shadow: none;
}

.column-label {
    font-weight: bold;
    padding: 8px;
    display: flex;
    justify-content: left;
}

.column-content {
    padding: 8px;
    display: flex;
    justify-content: left;
}

.actions{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.div-table{
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.action-button {
    margin-bottom: 20px;
    margin-top: 20px;
    background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 30px;
}

.action-button:hover {
    background: white;
    color: black;
    border: 1px solid rgb(56, 28, 117);
}

td{
    width: 50%;
}

tr{
    display: flex;
    flex-direction: row;
}

h1{
    color: rgb(56, 28, 117);
    margin-bottom: 30px;
    margin-top: 50px;
  }