<div id="userAccounts">
    <div class="user-title-section">
        <h1 class="user-title">Public Requests</h1>
    </div>

    <div class="table-container">
        <table class="user-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Entity Id</th>
                    <th>Author Id</th>
                    <th>Type</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pr of publicRequests">
                    <td>{{ pr.id }}</td>
                    <td>{{ pr.entityId }}</td>
                    <td>{{ pr.authorId }}</td>
                    <td>{{ pr.isCheckPoint ? 'Checkpoint' : 'Object' }}</td>
                    <td><button (click)="openModal(pr, 'Accept')">Accept</button></td>
                    <td><button (click)="openModal(pr, 'Decline')">Decline</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>