<div id="userAccounts">
  <div class="user-title-section">
    <h1 class="user-title">Author Requests Overview</h1>
    <div class="table-container">
      <table class="user-table">
        <thead>
          <tr>
            <th>Request ID:</th>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>Number of tours completed:</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of requests; let i = index">
            <td>{{ request.id }}</td>
            <td>{{ profiles[i]?.firstName }}</td>
            <td>{{ profiles[i]?.lastName }}</td>
            <td>{{ profiles[i]?.numberOfCompletedTours }}</td>
            <td>
              <button (click)="onAcceptClicked(request)">Accept</button>
            </td>
            <td>
              <button (click)="onDeclineClicked(request)">Decline</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
</div>