<form [formGroup]="blogForm" class="center-class" >
  <h1 *ngIf="!shouldEdit">New blog</h1>
  <h1 *ngIf="shouldEdit">Update blog</h1>
    <div>
        <mat-form-field class="custom-form-field1">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" type="text"/>
          </mat-form-field>
          
            <mat-form-field class="custom-form-field">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category" [(value)]="selectedCategory">
                  <mat-option [value]="BlogCategory.Destinations">Destinations</mat-option>
                  <mat-option [value]="BlogCategory.Travelogues">Travelogues</mat-option>
                  <mat-option [value]="BlogCategory.Activities">Activities</mat-option>
                  <mat-option [value]="BlogCategory.Gastronomy">Gastronomy</mat-option>
                  <mat-option [value]="BlogCategory.Tips">Tips</mat-option>
                  <mat-option [value]="BlogCategory.Culture">Culture</mat-option>
                  <mat-option [value]="BlogCategory.Destinations">Accommodation</mat-option>
                </mat-select>
              </mat-form-field>
              
          <mat-form-field class="custom-form-field">
            
            <mat-label>Description</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      formControlName="description"
                      cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field>
          
              <label *ngIf="touristDistance">
                Traveled Distance: {{ touristDistance }}m
              </label>
              <div *ngIf="tourExecution != null">
                <h3>Visited Checkpoints</h3>
                <table>
                  <thead>
                    <tr>
                      <th>Checkpoint Name</th>
                      <th>Traveled Distance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let checkpoint of checkpoints">
                      <td>{{ checkpoint.name }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="tourExecution != null">
                <h3>Equipment Used</h3>
                <table>
                  <thead>
                    <tr>
                      <th>Equipment Name</th>
                      <th>Select</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let equip of equipment; let i = index">
                      <td>{{ equip.name }}</td>
                      <td>
                        <input type="checkbox" [checked]="equipmentSelected[i]" (change)="toggleEquipmentSelection(i)">
                      </td>
                    </tr>
                  </tbody>
                </table>                              
              </div>
          
          <img *ngIf="currentFile" [src]="currentFileUrl" alt="Selected Image" class="thumbnail"/>
          <img *ngIf="!currentFile" [src]="currentFileUrl" class="thumbnail"/>
          <mat-label>Image</mat-label>
            <button class="action-button" mat-raised-button color="primary" (click)="fileInput.click()">Upload File</button>
            <input hidden #fileInput type="file" (change)="onFileSelected($event)">
        <button class="action-button" mat-raised-button *ngIf="!shouldEdit" color="primary" type="submit" (click)="addBlog()" >Done</button>
    <button class="action-button" mat-raised-button *ngIf="shouldEdit" color="primary" type="submit" (click)="updateBlog()" >Done</button>
    </div>
</form>
