.center-class {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1{
    color: rgb(56, 28, 117);
    margin-bottom: 30px;
    margin-top: 50px;
  }
  
div {
    width: 60vw;
    margin: 30px auto 0 auto;
    display:flex;
    gap: 5px;
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 40vw;
}
.action-button {
    margin-bottom: 20px;
    margin-top: 20px;
    background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 30px;
    width: 15vw;
}

.action-button:hover {
    background: white;
    color: black;
    border: 1px solid rgb(56, 28, 117);
}
.shorter{
    width:100%;

}
img{
    max-width: 40vw;
    max-height: 40vh;
}
.custom-form-field {
    width: 60vw;
  }
  .custom-form-field1 {
    width: 60vw;
    margin-top: 40px;
  }