<div *ngFor="let comment of comments" class="comment-container">
  <div class="comment">
    <div>
      <p>{{ comment?.username }}</p>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More Options" class="menu-button">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEditClicked(comment)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteBlogComment(comment.id || 0)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>  
    <div class="comment-text">
      <!-- Prikaz komentara ili forme za uređivanje -->
      <ng-container *ngIf="comment !== selectedBlogComment; else editForm">
        <p>{{ comment?.text }}</p>
      </ng-container>
      <ng-template #editForm>
        <textarea [(ngModel)]="editedCommentText" name="editedCommentText"></textarea>
        <button (click)="onSaveCommentEdit(comment)">Save</button>
        <button (click)="onCancelEdit()">Cancel</button>
      </ng-template>
    </div>
    <div class="comment-time">
      <p>{{ comment?.creationTime | date:'medium' }}</p>
    </div>
  </div>
</div>