/* Stil za glavni kontejner */
.bundle-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .all{
    min-height: 100vh;
  }
  /* Stil za naslov */
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Stil za cenu */
  p.price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Stil za status */
  p.status {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Stil za informacije o korisniku */
  p.userId {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  /* Stil za listu tura */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  
  /* Stil za "Loading..." poruku */
  .loading {
    font-style: italic;
    color: #888;
    font-size: 16px;
  }
  .blog-post {
    max-width: 900px; /* Adjust the max-width as needed */
    width: 100%;
    margin: 30px auto;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; /* Adjust alignment as needed */
  }
  
  
  
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between 0.5px;
    align-items: flex-start;
    margin-left: 15px;
  }
  
  .content-container h2 {
    text-align: left;
    color: rgb(56, 28, 117);
  }
  .blog-price {
    text-align: left;
    font-size: 15px;
  }
  

.bundle-image {
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally */
}

.bundle-image img {
    max-width: 100%;
    max-height: auto; /* Adjust the height as needed */
    border-radius: 10px;
}


.description {
    text-align: left;
    font-size: 25px;
}
  .tour-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 500px; /* Adjust the max-height as needed */
  }
  
  .blog-title {
    flex: 1;
    text-align: left;
    padding-left: 15px;
    margin-top: 10px; /* Add margin to separate the title from the image */
    font-size: 25px;
    
  }
 
  .image1-container {
    position: relative;
    overflow: hidden;
    width: 200px; /* Adjust the width as needed */
    height: 270px; /* Adjust the height as needed */
    border-radius: 10px;
  }
  
  .tour-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .tour-item {
    margin: 10px;
    position: relative;
  }
  .form-container1 {
    max-width: 60%;
    background: white;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .centered-h2-container {
    text-align: center;
  }
 
  
  .centered-h2 {
    display: inline-block;
    color: rgb(56, 28, 117);
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    width: 200px; /* Adjust the width as needed */
    height: 230px;  /* Adjust the height as needed */
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
  }
  .tour-description h3,
.tour-price p {
  margin: 0;
}

.view-button {
  display: inline-block;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color:  rgb(56, 28, 117);
  background-color: #ffffff;
  border: 0.2vw solid rgb(56, 28, 117);
  border-radius: 0.375vw;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  margin-top: 11px;
}
.view-button:hover {
  background-color: rgb(56, 28, 117);;
  color: #ffffff;
  
}

.view-button-cart:hover{
  background-color:  rgb(56, 28, 117);
  color: #ffffff;
}
.view-button-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(56, 28, 117);
  cursor: pointer;
  transition: color 0.3s;
  display: inline-block;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color:  rgb(56, 28, 117);
  background-color: #ffffff;
  border: 0.2vw solid rgb(56, 28, 117);
  border-radius: 0.375vw;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

  
