<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<div *ngIf="bundle" class="blog-post">
  <div class="image-container">
    <img [src]="bundle?.image" alt="Blog Image">
  </div>
  <div class="blog-title">
    {{ bundle?.name }}
    Price: {{ bundle.price }} AC
    Created by: {{ getUserName(bundle.userId) }}
  
    <h2>Tours included:</h2>
    <ul class="tour-list">
      <li *ngFor="let tour of toursList" class="tour-item">
        <p>{{ tour.name }}</p>
      </li>
    </ul> 
</div>

<div *ngIf="!bundle" class="bundle-container">
    <p class="loading-text">Loading...</p>
</div>
