<div class="tour-problem-container">
    <div id="entity" class="center-content">
        <div>
            <h1 id="entity-title-paragraph">Tour Problem</h1>
        </div>
        <hr>
        <div id="entity-details" class="two-column-layout">
            <div class="card">
                <div class="flex-container">
                    <div class="tour-problem-info">
                        <strong>Problem Category:</strong> {{ tourProblem?.problemCategory }}
                    </div>
                    <div class="tour-problem-info">
                        <strong>Problem Priority:</strong> {{ tourProblem?.problemPriority }}
                    </div>
                    <div *ngIf="isFiveDaysOld()" class="tour-problem-info-warning">
                        <strong>Timestamp:</strong> {{ tourProblem?.timeStamp | date: 'medium' }}
                        <br>
                        <p>Tour Problem Report is more than 5 days old!</p>
                    </div>
                    <div *ngIf="!isFiveDaysOld()" class="tour-problem-info">
                        <strong>Timestamp:</strong> {{ tourProblem?.timeStamp | date: 'medium' }}
                    </div>
                    <div  class="tour-problem-info">
                        <strong>Resolved:</strong> {{ tourProblem?.isResolved ? 'Yes' : 'No' }}
                    </div>
                    <div *ngIf="tourProblem?.deadlineTimeStamp" class="tour-problem-info">
                        <strong>Deadline:</strong> {{ tourProblem.deadlineTimeStamp | date: 'medium' }}
                    </div>
                    <div *ngIf="tourProblem?.deadlineTimeStamp && isExpired()" class="tour-problem-info-warning">
                        <strong>Deadline:</strong> {{ tourProblem.deadlineTimeStamp | date: 'medium' }}
                        <br>
                        <strong>Tour Problem Report Deadline is expired!</strong>
                    </div>

                    <div class="problem-info">
                        <strong>Description:</strong>
                        <p *ngIf="!shouldRenderSeeMoreDescription" class="tour-problem-description">{{ truncateText(tourProblem?.description,120)}}</p>
                        <p *ngIf="shouldRenderSeeMoreDescription" class="tour-problem-description">{{ tourProblem?.description }}</p>
                    </div>

                </div>
                <button *ngIf="!shouldRenderSeeMoreDescription" color="primary" (click)="onSeeMoreClicked(tourProblem)" mat-raised-button id="entity-icon-button">See More Description</button>
                <button *ngIf="shouldRenderSeeMoreDescription" color="primary" (click)="onSeeMoreClicked(tourProblem)" mat-raised-button id="entity-icon-button">See Less Description</button>
            </div>
        </div>
        <br>
        <button color="primary" (click)="onAddDeadlineClicked()" mat-raised-button id="entity-icon-button">Add Deadline</button>
        <div *ngIf="shouldRenderAddDeadlineForm" class="bottom-margin">
            <form [formGroup]="addDeadlineForm">
                <!-- Datepicker for date selection -->
                <mat-form-field>
                    <input matInput [matDatepicker]="deadlinePicker" formControlName="deadlineDate" placeholder="Select a Date">
                    <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
                    <mat-datepicker #deadlinePicker></mat-datepicker>
                </mat-form-field>

                <!-- Time input for time selection -->
                <mat-form-field>
                    <input matInput type="time" formControlName="deadlineTime" placeholder="Select a Time">
                </mat-form-field>
                <div class="button-row">
                    <button (click)="onSaveDeadline()" mat-raised-button id="entity-raised-button">Save</button>
                    <button (click)="shouldRenderAddDeadlineForm = false" mat-raised-button id="entity-raised-button">Cancel</button>
                </div>
            </form>
            <div *ngIf="tourProblem?.deadlineTimeStamp && isDeadlineAlreadyAdded" ><p class="tour-problem-info-warning">Deadline is already added.</p></div>
            <div *ngIf="tourProblem?.deadlineTimeStamp && !isDeadlineAlreadyAdded" class="success-deadline-save-message"><p class="tour-problem-info-warning">Deadline successfully added!</p></div>
        </div>


        <button color="primary" (click)="onAddResponseClicked()" mat-raised-button id="entity-icon-button">Add Response</button>
        <div *ngIf="shouldRenderAddResponseForm" class="bottom-margin">
            <form [formGroup]="addResponseForm" (submit)="onSendResponse()">
                <mat-form-field>
                    <input matInput type="text" placeholder="Enter your response" formControlName="response" [(ngModel)]="response">
                </mat-form-field>                  
                <button type="submit" mat-raised-button id="entity-raised-button">Send</button>
                <button (click)="onCancelResponse()" mat-raised-button id="entity-raised-button">Cancel</button>
            </form>     
        </div>
        <button [routerLink]="['/tour-problem', tourProblem?.id, 'responses']" color="primary" mat-raised-button id="entity-icon-button">View responses</button>

       <button *ngIf="isExpired" color="primary" (click)="onPenalizeClicked()" mat-raised-button id="entity-raised-button">
            Penalize
        </button>
        <div *ngIf="shouldRenderPenalization">
            <td colspan="8">
                <p>Are you sure you want to penalize this author?</p>
                <div class="button-row">
                    <button (click)="onPenalizeConfirmClicked()" id="entity-raised-button">Yes</button>
                    <button (click)="shouldRenderPenalization = false" id="entity-raised-button">No</button>
                </div>
            </td>
        </div>         
        <button *ngIf="isExpired" color="accent" (click)="onCloseClicked()" mat-raised-button id="entity-raised-button">
            Close 
        </button>
        <div *ngIf="shouldRenderClosure">
            <td colspan="8">
                <p>Are you sure you want to close this problem?</p>
                <div class="button-row">
                    <button (click)="onCloseConfirmClicked()" id="entity-raised-button">Yes</button>
                    <button (click)="shouldRenderClosure = false" id="entity-raised-button">No</button>
                </div>
            </td>
        </div>         


    </div>
</div>
