<div class="all">
<div class="tour-problem-container">
    <div id="entity" class="center-content">
        <div>
            <h1 id="entity-title-paragraph" [routerLink]="['/tour', tour?.id]" class="hover-effect" 
            (click)="handleTitleClick()" (mouseenter)="showTooltip = true"
            (mouseleave)="showTooltip = false">{{ tour?.name }} Problem<div *ngIf="showTooltip" class="custom-tooltip">
                See Tour Info
              </div></h1>

        </div>
        <hr>
        <div id="entity-details" class="two-column-layout">
            <div class="card">
                <div class="flex-container">
                    <div class="tour-problem-info">
                        <strong>Category </strong> {{ tourProblem?.problemCategory }}
                    </div>
                    <div class="tour-problem-info">
                        <strong>Priority </strong> {{ tourProblem?.problemPriority }}
                    </div>
                    <div *ngIf="isFiveDaysOld()" class="tour-problem-info-warning">
                        <strong>Timestamp </strong> {{ tourProblem?.timeStamp | date: 'medium' }}
                        <br>
                        <p>Tour Problem Report is more than 5 days old!</p>
                    </div>
                    <div *ngIf="!isFiveDaysOld()" class="tour-problem-info">
                        <strong>Timestamp </strong> {{ tourProblem?.timeStamp | date: 'medium' }}
                    </div>
                    <div  class="tour-problem-info">
                        <strong>Resolved </strong> {{ tourProblem?.isResolved ? 'Yes' : 'No' }}
                    </div>
                    <div *ngIf="tourProblem?.deadlineTimeStamp && !isExpired()" class="tour-problem-info">
                        <strong>Deadline </strong> {{ tourProblem.deadlineTimeStamp | date: 'medium' }}
                    </div>
                    <div *ngIf="tourProblem?.deadlineTimeStamp && isExpired()" class="tour-problem-info-warning">
                        <strong>Deadline: </strong> {{ tourProblem.deadlineTimeStamp | date: 'medium' }}
                    </div>
                    <div *ngIf="tourProblem?.deadlineTimeStamp && isExpired()" class="tour-problem-info-warning">
                        <strong>Deadline for Tour Report has expired!</strong>
                    </div>

                    <div class="problem-info">
                        <strong>Description </strong><p>{{ tourProblem?.description }}</p>
                        <!--<p *ngIf="!shouldRenderSeeMoreDescription" class="tour-problem-description">{{ truncateText(tourProblem?.description,120)}}</p>
                        <p *ngIf="shouldRenderSeeMoreDescription" class="tour-problem-description">{{ tourProblem?.description }}</p>-->
                    </div>

                </div>
                <!--<button *ngIf="!shouldRenderSeeMoreDescription" color="primary" (click)="onSeeMoreClicked(tourProblem)" mat-raised-button id="entity-icon-button">See More Description</button>
                <button *ngIf="shouldRenderSeeMoreDescription" color="primary" (click)="onSeeMoreClicked(tourProblem)" mat-raised-button id="entity-icon-button">See Less Description</button>-->
            </div>
        </div>
        <br>
        <button class="deadline-button" *ngIf="isDeadlineAlreadyAdded===false && user.role === 'administrator'" (click)="onAddDeadlineClicked()" >Add Deadline</button>
        
        <div *ngIf="shouldRenderAddDeadlineForm" class="message-form-wrapper">
            <button mat-icon-button class="close-button" (click)="onCloseDeadlineClicked()">
                <mat-icon>close</mat-icon>
            </button>
            <div class="deadline-title-section">
                <h1 class="deadline-title">Add deadline</h1>
              </div>
              
            <form [formGroup]="addDeadlineForm" *ngIf="isDeadlineAlreadyAdded===false">
                <!-- Datepicker for date selection -->
                <mat-form-field>
                    <input matInput [matDatepicker]="deadlinePicker" formControlName="deadlineDate" placeholder="Select a Date">
                    <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
                    <mat-datepicker #deadlinePicker></mat-datepicker>
                </mat-form-field>

                <!-- Time input for time selection -->
                <mat-form-field>
                    <input matInput type="time" formControlName="deadlineTime" placeholder="Select a Time">
                </mat-form-field>
                <div >
                    <button class="save-button" (click)="onSaveDeadline()">Save</button>
                </div>
            </form>
            <div *ngIf="tourProblem?.deadlineTimeStamp && isDeadlinePreviouslyAdded===true" ><p class="tour-problem-info">Deadline is already added.</p></div>
            <div *ngIf="tourProblem?.deadlineTimeStamp && isDeadlinePreviouslyAdded===false" class="success-deadline-save-message"><p class="tour-problem-info">Deadline successfully added!</p></div>
        </div>


        
        

       <button *ngIf="isExpired() && user.role === 'administrator'" class="deadline-button" (click)="onPenalizeClicked()" >
            Penalize Tour
        </button>
        <div *ngIf="shouldRenderPenalization" class="message-form-wrapper-admin">
            <td colspan="8">
                <p>Are you sure you want to penalize this author? (Remove the Tour)</p>
                <div class="button-container">
                    <button class="save-button" (click)="onPenalizeConfirmClicked()"  [routerLink]="'/tour-problems'">Yes</button>
                    <button class="save-button" (click)="shouldRenderPenalization = false">No</button>
                </div>
            </td>
        </div>         
        <button *ngIf="isExpired() && user.role === 'administrator'" class="deadline-button" (click)="onCloseClicked()" >
            Close Problem
        </button>
        <div *ngIf="shouldRenderClosure" class="message-form-wrapper-admin">
            <td colspan="8">
                <p>Are you sure you want to close this problem?</p>
                <div class="button-container">
                    <button class="save-button" (click)="onCloseConfirmClicked()" >Yes</button>
                    <button class="save-button" (click)="shouldRenderClosure = false" >No</button>
                </div>
            </td>
        </div>




    </div>
</div>

<!--<button color="primary"  (click)="onAddResponseClicked()" mat-raised-button id="entity-icon-button">Add Response</button>-->
<div class="addResponse" >
    
        <form [formGroup]="addResponseForm" >
                <mat-form-field>
                    <input matInput type="text" placeholder="Enter your response" formControlName="response" [(ngModel)]="response">
                </mat-form-field> 
               <div>       
            <button   (click)="onSendResponse()">Send</button>
            <button   (click)="onCancelResponse()" >Cancel</button>
       </div>
        </form>     
</div>

        <!-- <button [routerLink]="['/tour-problem', tourProblem?.id, 'responses']" color="primary" mat-raised-button id="entity-icon-button">View responses</button> -->
       <!-- <button mat-raised-button id="entity-icon-button" (click)="onViewResponsesClicked()">View Responses</button>-->
<div>
    <xp-tour-problem-response *ngIf="shouldRenderResponses" [currentProblemId] = "tourProblemId"></xp-tour-problem-response>
</div>
</div>