<div id="blog">
    <p>Blogs</p>
    <hr>
    <div id="blog-details">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bl of blogs">
                        <td>{{bl.title}}</td>
                        <td>{{bl.description}}</td>
                        <td>
                            <button color="accent" (click)="deleteBlog(bl.id || 0)" mat-icon-button>
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button color="primary" (click)="onEditClicked(bl)" mat-icon-button>
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <button color="primary" (click)="onAddClicked()" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <xp-blog-form *ngIf="shouldRenderBlogForm" [shouldEdit]="shouldEdit" [blog]="selectedBlog" (blogUpdated)="getBlogs()"></xp-blog-form>
        </div>
    </div>
</div>
