/* find-other-people.component.css */
.find-people-container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: none;
    width: 80vw;
  }
  .center-class {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
  }
  .profile-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    gap: 20px;
    justify-content: center;
    width: 100%;
    justify-content: center;
    padding: 10px;
    padding-bottom: 10px;
  }
  
  .profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    width: 15vw;
    margin: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-details {
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .follow-button {
    margin-top: 20px;
    background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    color: white;
    border: none;
    padding: 8px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .follow-button:hover {
    background: white;
    color: black;
    border: 1px solid rgb(56, 28, 117);
  }

  .center-class {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
  }
  .follower-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    gap: 20px;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
  }
  
  .follower-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    border-radius: 8px;
    box-shadow: none;
    width: 15vw;
    margin: auto; /* Center horizontally */
  }
  
  .profile-picture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
  }  
  
  h1{
    color: rgb(56, 28, 117);
    margin-bottom: 30px;
    margin-top: 30px;
  }
  h2{
    color: rgb(56, 28, 117);
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .edit-button {
    color: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    background: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 13vw;
}
.eb{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.message-form-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 25vw;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 0; /* Adjusted position */
  right: 0; /* Adjusted position */
  margin: 10px; /* Added margin for better spacing */
  color: rgb(56, 28, 117); /* Updated color */
  cursor: pointer; /* Added cursor style */
}
.add-club-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.club-container {
  min-height: 100vh;
}