.invite-form {
    max-width: 400px;
    margin: auto;
 }
 
 .form-group {
    margin-bottom: 15px;
 }
 
 .checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
 }
 
 .checkbox-label input {
    margin-right: 5px;
 }
 
 .input-group {
    margin-top: 5px; /* Dodajte željeni razmak između oznake i polja za unos */
 } 