<div class="map-container">
  <xp-map-search></xp-map-search>
</div>
<div class="tour-list">
  <h1 class="header">Purchased Tours</h1>
  <div class="card-container">

  
<div class="card-container">    
    <div *ngFor="let tour of tours" class="card">
      <div class="remove-when-use">
      </div>
      <div class="details">
        <label>{{ tour.name }}</label>
        <p>{{ tour.description }}</p>
        <div class="button-container">
          <a class="view-button" [routerLink]="'/tour/' + tour.id">View more</a>
      </div>
      </div>
    </div>
  </div>

