<mat-toolbar>
  <span></span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="onCloseClick()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="applicationReviewForm">
    <div class="review-card">
      <img [src]="getStarImage()" alt="Star Image" class="star-image" />

      <h2 class="review-title">How was your experience with us?</h2>  

      <div class="star-rating">
        <span *ngFor="let star of [1, 2, 3, 4, 5]" class="star" (click)="setRating(star)" [ngClass]="{ 'active': star <= selectedStars }">
          ★
        </span>
      </div>
  
      <mat-form-field>
        <mat-label>Comment (optional)</mat-label>
        <textarea class = "comment" cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="comment" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
  
      <button *ngIf="!shouldEdit" color="primary" class="button" type="submit" (click)="addApplicationReview()" mat-raised-button>
        Submit
      </button>
    </div>
  </form>
  