<div id="clubs">
    <p>Clubs</p>
    <hr>
    <div id="club-details">
        <table>
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Opis</th>
                    <th>Url</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cl of clubs">
                    <td>{{cl.name}}</td>
                    <td>{{cl.description}}</td>
                    <td>{{cl.imageUrl}}</td>
                    <td>
                        <button color="accent">delete
                        </button>
                        <button color="primary" (click)="onEditClicked(cl)">edit
                        </button>
                    </td>
                    <td>
                        <button (click)="onSendRequestClicked(cl)" color="primary">send request</button>
                    </td>
                </tr>
                <tr><button color="primary" (click)="onAddClicked()">ADD
                </button></tr>
            </tbody>
        </table>
    </div>
    <div>
        <xp-club-form *ngIf="shouldRenderClubForm" [shouldEdit]="shouldEdit" [club]="selectedClub" (clubUpdated)="getClubs()"></xp-club-form>
    </div>
</div>