<div id="tour-problems">
    <p>Tour Problems</p>
    <hr>
    <div id="tour-problem-details">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Problem Category</th>
                        <th>Problem Priority</th>
                        <th>Description</th>
                        <th>Timestamp</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let problem of tourProblems">
                        <td>{{problem.problemCategory}}</td>
                        <td>{{problem.problemPriority}}</td>
                        <td>{{problem.description}}</td>
                        <td>{{problem.timeStamp | date:'medium'}}</td>
                        <td>
                            <button color="accent" (click)="deleteTourProblem(problem.id || 0)" mat-raised-button>
                                delete
                            </button>
                            <button color="primary" (click)="onEditClicked(problem)" mat-raised-button>
                                edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <button color="primary" (click)="onAddClicked()" mat-raised-button>
                            add
                        </button>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <xp-tour-problem-form *ngIf="shouldRenderTourProblemForm" [shouldEdit]="shouldEdit"
                [tourProblem]="selectedTourProblem" (tourProblemUpdated)="getTourProblems()"></xp-tour-problem-form>
        </div>
    </div>
</div>
