.settings{
  height: 100%;
  min-height: 170vh;
}
.settings-container {
    display: flex;
    align-items: stretch;
    width: 100%;
    max-height: 170vh;
    min-height: 170vh;
  }
    
    .settings-buttons {
      display: flex;
      flex-direction: column;
      width: 24vw;
      min-height: 100vh;
      
      height: auto;
      background-color: rgb(236, 236, 236);
    }
    
    .settings-button {
      border: none;
      cursor: pointer;
      text-align: left;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: rgb(236, 236, 236);
  
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      font-size: 1.32vw; /* Make the first paragraph 10% bigger */
      padding-left: 2vw;
      padding-right: 2vw;
      color: rgb(56, 28, 117);
      opacity: 0.75;
      line-height: 1.5;
    }
    
    .settings-content {
      flex: 1;
      padding: 16px;
      width: 60vw;
    padding-bottom: 100px;
    }
  
  
    h1 {
      color: rgb(56, 28, 117);
      border: none;
      cursor: pointer;
      text-align: left;
      padding: 20px;
      font-size: 1.8vw;
      display: flex;
      align-items: center; /* Vertically center text */
    }
    
  
    .settings-icon{
      padding-right: 10px;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .bold-text {
      font-weight: bold;
      opacity: 1;
      font-size: 1.52vw;
    }
  
    .has-margin-bottom{
      padding-bottom: 60px;
    }
  
    
  .class-h1{
    color: rgb(56, 28, 117);
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 20px;
    font-size: 2vw;
    display: flex;
    align-items: center; /* Vertically center text */
    justify-content: center;
  }
  
  .center-class {
    display: flex;
    justify-content: center;
    align-items: center;
  }