<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<div class="blog-post">
  <div class="blog-title">
    {{ blogPost?.title }}
  </div>
  <div class="image-container">
    <img [src]="blogPost?.image" alt="Blog Image">
  </div>
  <div class="blog-text">
    {{ blogPost?.description }}
  </div>
  <div class="blog-info">
    <p>Author: {{ blogPost?.username }}</p>
    <p>Created: {{ blogPost?.creationTime | date:'medium' }}</p>
    <div class="votes">
    <div id="upvote" class="vote-button" [ngClass]="{'voted': upvoted}">
      <i class="fas fa-arrow-up" (click)="upvoteClick()"></i>
    </div>
    <div class="rating-count">
      {{ ratingCount }} 
    </div>
    <div id="downvote" class="vote-button" [ngClass]="{'voted': downvoted}">
      <i class="fas fa-arrow-down" (click)="downvoteClick()"></i>
    </div>
    </div>
  </div>
  <div>
    <xp-blog-comment-form [blogId]="blogId!"></xp-blog-comment-form>
  </div>
  <div>
    <xp-comments-review [comments]="comments"></xp-comments-review>
  </div>
  <div class="you-might-like-section">
    <h3 class="title-card">You Might Also Like</h3>
    <div class="similar-blogs" *ngIf="similarBlogs as similarBlogs">
      <div class="similar-blog" *ngFor="let similarBlog of similarBlogs">
        <div class="similar-blog-card">
          <img [src]="similarBlog.image" alt="Blog Image" class="blog-image">
          <div class="blog-details">
            <h3 class="similar-blog-title">{{ similarBlog.title }}</h3>
          </div>
          <button class="read-more-button" (click)="onReadMoreClicked(similarBlog.id || 0)" >Read More</button>
        </div>
      </div>
    </div>
  </div>  
</div>
 

  
