.map-frame {
  border: 2px solid black;
}

#map {
  height: 600px;
}

.custom-popup {
  background-color: purple;
  color: white;
  padding: 10px;
}

/* Styles for category labels */
.category-label {
  text-align: center;
  font-weight: bold;
}