.map-frame {
  /* border: 2px solid black; */
  width: 100%;
  height: 100%;
  position: relative; /* Set the position to relative for proper positioning of #map */
}

#map {
  width: 100%;
  height: 100%;
  position: absolute; /* Set the position to absolute to stretch fully within the parent container */
  top: 0;
  left: 0;
}
