
<div class="settings">
  <div class="settings-container">
    <div class="settings-buttons">
      <h1> <mat-icon class="settings-icon">info</mat-icon>  Profile Information</h1>
      <button class="settings-button" [ngClass]="{'bold-text': selectedProfile && showEditProfileForm}" (click)="onEditClicked(profile)">👤 Profile</button>
      <button class="settings-button" [ngClass]="{'bold-text': showProfilePreferences}" (click)="onTourPreferencesClicked()">🌟 Tour Preferences</button>
      <button class="settings-button" [ngClass]="{'bold-text': showPurchase}" (click)="onPurchaseReportsClicked()">💰 Purchase Reports</button>
      <button class="settings-button" [ngClass]="{'bold-text': showBecomeAnAuthor}" (click)="onAuthorClicked(profile)">🌍 Become an author</button>
      <button class="settings-button" [ngClass]="{'bold-text': showProfilePictureForm}" (click)="onChangeClicked(profile)">🚀 Questionnaire</button>
    </div>

    <div class="settings-content">
      <xp-tourist-to-author *ngIf="selectedProfile && showBecomeAnAuthor" (profileUpdated)="getByUserId()" [profile]="selectedProfile"></xp-tourist-to-author>
      <xp-profile-form *ngIf="selectedProfile && showEditProfileForm" (profileUpdated)="getByUserId()" [profile]="selectedProfile"></xp-profile-form>
      <xp-tour-preference-settings *ngIf="showProfilePreferences"></xp-tour-preference-settings>
      <xp-purchase-report *ngIf="showPurchase"></xp-purchase-report>
      <div  *ngIf="showProfilePictureForm">
        <!-- Check if questionnaireDone is false -->
        <div *ngIf="!profile.questionnaireDone">
          <xp-questionnaire></xp-questionnaire>
        </div>
        <!-- If questionnaireDone is true, display a message -->
        <div *ngIf="profile.questionnaireDone">
          <h1 class="class-h1">Questionnaire</h1>
          <div class="center-class">
            <p >You have already completed the questionnaire!</p>
          </div>
          <div class="center-class">
            <img src="assets/images/Completed-pana.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>