<div id="blog-review">
  <div class="blog-title-section">
    <div class="blog-filtration">
      <button mat-raised-button (click)="filterByStatus(null)">All</button>
      <button mat-raised-button (click)="filterByStatus(blogStatus.Active)">Active</button>
      <button mat-raised-button (click)="filterByStatus(blogStatus.Famous)">Famous</button>
      <button mat-raised-button (click)="filterByCategory(category.Destinations)">Destinations</button>
      <button mat-raised-button (click)="filterByCategory(category.Travelogues)">Travelogues</button>
      <button mat-raised-button (click)="filterByCategory(category.Activities)">Activities</button>
      <button mat-raised-button (click)="filterByCategory(category.Tips)">Tips</button>
      <button mat-raised-button (click)="filterByCategory(category.Culture)">Culture</button>
      <button mat-raised-button (click)="filterByCategory(category.Accommodation)">Accommodation</button>
      <div>
      
      </div>
    </div>
    <h1 class="page-title">See blog posts</h1>
    <div class="blog-options">
      <a href="blog-form" class="create-blog-link" >Create new blog</a>
      <a href="blog-management"class="manage-blogs-link" >Manage your blogs</a>
    </div>
  </div>
  <div>
  <div  *ngIf="blogs.length === 0; else showBlogs">
    <p class="paragraf">No content to show right now.</p>
  </div>
  <ng-template #showBlogs>
    <ng-container *ngFor="let row of blogRows">
      <div class="row">
        <ng-container *ngFor="let blog of row">
          <div class="col-md-4">
            <div class="blog-card">
              <img [src]="blog.image" alt="Blog Image" class="blog-image">
              <div class="blog-details">
                <h3 class="blog-title">{{ blog.title }}</h3>
              </div>
              <button class="read-more-button" (click)="onReadMoreClicked(blog.id || 0)" >Read More</button>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-template>
  </div>
  </div>
  
  <div class="pagination">
    <button *ngFor="let page of totalPageArray" (click)="changePage(page)">{{ page }}</button>
  </div>
  
 
