#blog-review {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    
}

.blog-card {
    width: calc(80% - 20px);  /* Podelite dostupan prostor na tri dela, sa razmakom od 10px između kartica */
    height: 330px;
    margin: 20px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.blog-card:hover {
    transform: translateY(-3px);
}



.blog-details {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.blog-image {
    width: 350px;
    max-height: 250px; /* Maksimalna visina slike */
    object-fit: cover; /* Održava proporcije slike */
    
    
}

.blog-title {
    text-align: center;
    font-size: 1.25rem; /* Prilagodite veličinu fonta prema vašem stilu */
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}
.blog-title-section {
    background-color: #2a2133;
    color: white;
    text-align: center;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
}
  
.blog-options {
    display:none;
    background-color:#3d3148;
    flex-direction: column;
    gap: 5px;
    position:absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    z-index: 2;
    
}
  
.blog-title-section:hover .blog-options {
    display: flex;
}
  
.blog-options a {
    color: white;
    text-decoration: none;
}
  
.blog-options a:hover {
        text-decoration: underline;
        background-color: #4e415a;
}

.page-title{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}


.read-more-button {
    
    background-color: #2a2133;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.read-more-button:hover {
    background-color: #660089; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
  }
  
  .pagination button {
    background-color: #2a2133;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #660089;
  }

  #blog-review .blog-filtration button{
    margin: 0px; 
    background-color: #2a2133; 
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 0%;
}

#blog-review .blog-filtration button:hover {
    background-color: #4e415a;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
 
#blog-review .paragraf {
    text-align: center;
    margin: 0 auto;
    max-width: 600px; /* Prilagodite vrednost prema potrebi */
    font-size: medium; /* Prilagodite vrednost prema potrebi */
    line-height: 20;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  
  
  
   
  
