#blog-review {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    min-height: 100vh;
}


.blog-card {
    width: calc(80% - 20px);  /* Podelite dostupan prostor na tri dela, sa razmakom od 10px između kartica */
    height: 330px;
    margin: 12px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 2px 4px linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    overflow: hidden;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    position: relative;
}

.blog-card:hover {
    transform: translateY(-3px);
}



.blog-details {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.blog-image {
    width: 350px;
    max-height: 250px; /* Maksimalna visina slike */
    object-fit: cover; /* Održava proporcije slike */
    
    
}

.blog-title {
    text-align: center;
    font-size: 1.25rem; /* Prilagodite veličinu fonta prema vašem stilu */
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}
.blog-title-section {
    background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    color: white;
    text-align: center;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
}
  
.blog-options {
    display:none;
    background:linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    flex-direction: column;
    align-items: center;
    gap: 5px;
    bottom: 5%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    z-index: 2;
    margin-top: 30px;
    min-height: 60px;
    
}
  
.blog-title-section:hover .blog-options {
    display: flex;
}

.blog-options a {
    color: white;    
    margin-top: 20px;
    text-decoration: none;
    min-height: 30px;
}
  
.blog-options a:hover {
    text-decoration: underline;
}

.page-title{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.read-more-button {
    
    background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
  }

.read-more-button:hover {
    background: linear-gradient(rgb(31, 15, 65), rgb(65, 59, 131));
  }

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
  }
  
  .pagination button {
    background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: white;
  }

  .filter{
    margin: 0px; 
    background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 0%;
    margin-left: 2.7px;
    width: 149px;
}

.filter:hover {
    background-color: white;
    color: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    font-family: 'Montserrat', sans-serif;
}
 
#blog-review .paragraf {
    text-align: center;
    margin: 0 auto;
    max-width: 600px; /* Prilagodite vrednost prema potrebi */
    font-size: medium; /* Prilagodite vrednost prema potrebi */
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

#blog-review .paragraf img {
    margin-top: 100px;
    height: 100px;
    width: 150;
}

#blog-review .paragraf p {
    margin-top: 10px;
}

  
  
  
  
   
  
