<h1>Questionnaire:</h1>
<form (submit)="onSubmit()">
    <div>
        <mat-label><b>1. How much do you prefer historical tours?</b></mat-label><br/>
        <input type="radio" name="historical" value="strongly-dont-prefer"><span class="red">I strongly don't prefer them</span>
        <input type="radio" name="historical" value="dont-prefer"><span class="red">I don't prefer them</span>
        <input type="radio" name="historical" value="dont-mind"><span class="orange">I don't mind them</span>
        <input type="radio" name="historical" value="prefer"><span class="green">I prefer them</span>
        <input type="radio" name="historical" value="strongly-prefer"><span class="green">I strongly prefer them</span>
    </div><br/>
    <div>
        <mat-label><b>2. How much do you prefer cultural tours?</b></mat-label><br/>
        <input type="radio" name="cultural" value="strongly-dont-prefer"><span class="red">I strongly don't prefer them</span>
        <input type="radio" name="cultural" value="dont-prefer"><span class="red">I don't prefer them</span>
        <input type="radio" name="cultural" value="dont-mind"><span class="orange">I don't mind them</span>
        <input type="radio" name="cultural" value="prefer"><span class="green">I prefer them</span>
        <input type="radio" name="cultural" value="strongly-prefer"><span class="green">I strongly prefer them</span>
    </div><br/>
    <div>
        <mat-label><b>3. How much do you prefer architectural tours?</b></mat-label><br/>
        <input type="radio" name="architectural" value="strongly-dont-prefer"><span class="red">I strongly don't prefer them</span>
        <input type="radio" name="architectural" value="dont-prefer"><span class="red">I don't prefer them</span>
        <input type="radio" name="architectural" value="dont-mind"><span class="orange">I don't mind them</span>
        <input type="radio" name="architectural" value="prefer"><span class="green">I prefer them</span>
        <input type="radio" name="architectural" value="strongly-prefer"><span class="green">I strongly prefer them</span>
    </div><br/>
    <div>
        <mat-label><b>4. How much do you prefer modern tours?</b></mat-label><br/>
        <input type="radio" name="modern" value="strongly-dont-prefer"><span class="red">I strongly don't prefer them</span>
        <input type="radio" name="modern" value="dont-prefer"><span class="red">I don't prefer them</span>
        <input type="radio" name="modern" value="dont-mind"><span class="orange">I don't mind them</span>
        <input type="radio" name="modern" value="prefer"><span class="green">I prefer them</span>
        <input type="radio" name="modern" value="strongly-prefer"><span class="green">I strongly prefer them</span>
    </div><br/>
    <div>
        <mat-label><b>5. How much do you prefer culinary tours?</b></mat-label><br/>
        <input type="radio" name="culinary" value="strongly-dont-prefer"><span class="red">I strongly don't prefer them</span>
        <input type="radio" name="culinary" value="dont-prefer"><span class="red">I don't prefer them</span>
        <input type="radio" name="culinary" value="dont-mind"><span class="orange">I don't mind them</span>
        <input type="radio" name="culinary" value="prefer"><span class="green">I prefer them</span>
        <input type="radio" name="culinary" value="strongly-prefer"><span class="green">I strongly prefer them</span>
    </div><br/>
    <div>
        <mat-label><b>6. How much do you prefer art tours?</b></mat-label><br/>
        <input type="radio" name="art" value="strongly-dont-prefer"><span class="red">I strongly don't prefer them</span>
        <input type="radio" name="art" value="dont-prefer"><span class="red">I don't prefer them</span>
        <input type="radio" name="art" value="dont-mind"><span class="orange">I don't mind them</span>
        <input type="radio" name="art" value="prefer"><span class="green">I prefer them</span>
        <input type="radio" name="art" value="strongly-prefer"><span class="green">I strongly prefer them</span>
    </div><br/>
    <div>
        <mat-label><b>7. How much do you prefer nature tours?</b></mat-label><br/>
        <input type="radio" name="nature" value="strongly-dont-prefer"><span class="red">I strongly don't prefer them</span>
        <input type="radio" name="nature" value="dont-prefer"><span class="red">I don't prefer them</span>
        <input type="radio" name="nature" value="dont-mind"><span class="orange">I don't mind them</span>
        <input type="radio" name="nature" value="prefer"><span class="green">I prefer them</span>
        <input type="radio" name="nature" value="strongly-prefer"><span class="green">I strongly prefer them</span>
    </div><br/>
    <div>
        <mat-label><b>8. How much do you prefer adventure tours?</b></mat-label><br/>
        <input type="radio" name="adventure" value="strongly-dont-prefer"><span class="red">I strongly don't prefer them</span>
        <input type="radio" name="adventure" value="dont-prefer"><span class="red">I don't prefer them</span>
        <input type="radio" name="adventure" value="dont-mind"><span class="orange">I don't mind them</span>
        <input type="radio" name="adventure" value="prefer"><span class="green">I prefer them</span>
        <input type="radio" name="adventure" value="strongly-prefer"><span class="green">I strongly prefer them</span>
    </div>
    <button type="submit" *ngIf="showSubmitButton" mat-raised-button>Submit answers</button>
</form>
