<h1>Your followers:</h1>
<table>
    <tr>
      <th>Profile Picture:</th>
      <th>First Name:</th>
      <th>Last Name:</th>
      <th></th>
    </tr>
    <tr *ngFor="let individualFollower of followers">
      <td><img class="thumbnail" src={{individualFollower.profilePicture}} alt="" srcset=""></td>
      <td>{{ individualFollower.firstName }}</td>
      <td>{{ individualFollower.lastName }}</td>
      <td><button (click)="sendMessageTo(individualFollower)">Send a message</button></td>
    </tr>
</table>
<xp-message-form2 *ngIf="selectedFollower && showMessageForm" [selectedFollower]="selectedFollower"></xp-message-form2>
