form {
    margin-top:150px;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

div {
    width: 400px;
    display:flex;
    flex-direction: column;
}

p {
    margin-top: 10px;
}