<h1>Your profile (author):</h1>
<table>
  <tr>
    <th>First Name:</th>
    <th>Last Name:</th>
    <th>Profile Picture:</th>
    <th>Biography:</th>
    <th>Motto:</th>
  </tr>
  <tr *ngFor="let individualProfile of profile">
    <td>{{ individualProfile.firstName }}</td>
    <td>{{ individualProfile.lastName }}</td>
    <td><img class="thumbnail" src={{individualProfile.profilePicture}} alt="" srcset=""></td>
    <td>{{ individualProfile.biography }}</td>
    <td>{{ individualProfile.motto }}</td>
    <button (click) = "onEditClicked(individualProfile)">Edit profile info</button>
    <button (click) = "onChangeClicked(individualProfile)">Change profile picture</button>
  </tr>
</table>
<xp-profile-form2 *ngIf="selectedProfile && showProfileForm" (profileUpdated) = "getByUserId()" [profile] = "selectedProfile"></xp-profile-form2>
<xp-picture-form2 *ngIf="selectedProfile && showPictureForm" (profileUpdated) = "getByUserId()" [profile] = "selectedProfile"></xp-picture-form2>
<xp-profiles2></xp-profiles2>
<xp-followers2></xp-followers2>
<xp-message2 *ngIf="showMessage" class="notification"></xp-message2>