<!-- profile2.component.html AUTOR-->
<div class="profile-container">
  <div class="profile-card" *ngFor="let individualProfile of profile">
    <div class="label">AUTOR</div>
    <img class="profile-picture" src="{{ individualProfile.profilePicture }}" alt="">
    <div class="profile-details">
      <div class="name">
        <span class="first-name">{{ individualProfile.firstName }} </span>
        <span class="last-name">{{ individualProfile.lastName }}</span>
      </div>
      <div class="label">Biography:</div>
      <div class="biography emphasized">{{ individualProfile.biography }}</div>
      <div class="label">Motto:</div>
      <div class="motto emphasized">{{ individualProfile.motto }}</div>
    </div>    
    <div class="profile-actions">
      <button class="action-button" mat-raised-button (click)="onEditClicked(individualProfile)">Edit Profile Info</button>
      <button class="action-button" mat-raised-button (click)="onChangeClicked(individualProfile)">Change Profile Picture</button>
    </div>    
    <xp-profile-form2 *ngIf="selectedProfile && showEditProfileForm" (profileUpdated)="getByUserId()" [profile]="selectedProfile"></xp-profile-form2>
    <xp-picture-form2 *ngIf="selectedProfile && showProfilePictureForm" (profileUpdated)="getByUserId()" [profile]="selectedProfile"></xp-picture-form2>
  </div>
</div>
<div class="center-class">
  <table class="split-table">
    <tr>
      <td class="left-side">
        <div class="upper-start">            
          <xp-followers2></xp-followers2>
        </div>
      </td>
      <td class="right-side">
        <xp-tourist-posts2></xp-tourist-posts2>            
      </td>
    </tr>
  </table>
</div>
<div class="messages">
  <xp-message2 *ngIf="showMessage" class="notification"></xp-message2>
</div>