<!-- profile2.component.html AUTOR-->
<div class="profile-container">
  <div class="profile-card" *ngFor="let individualProfile of profile">
    <div class="profile-actions">
      <button class="action-button-settings" mat-raised-button (click)="onEditClicked(individualProfile)">
        <mat-icon>info</mat-icon>
      </button>
      <button class="action-button-settings" mat-raised-button (click)="onEditClicked(individualProfile)">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <div class="label-role">AUTHOR</div>

    <div class="img-cont" (click)="onEditClicked(individualProfile)">
      <div class="overlay">
          <mat-icon class="picture-icon">edit</mat-icon>
      </div>
      <img class="profile-picture" *ngIf="individualProfile.profilePicture!=='/'" src="{{individualProfile.profilePicture}}" alt="">
      <img class="profile-picture" *ngIf="individualProfile.profilePicture==='/'" src="https://t4.ftcdn.net/jpg/00/65/77/27/240_F_65772719_A1UV5kLi5nCEWI0BNLLiFaBPEkUbv5Fv.jpg" alt="">
    </div>

    <div class="profile-details">
      <div class="name">
        <span class="first-name">{{ individualProfile.firstName }} </span>
        <span class="last-name">{{ individualProfile.lastName }}</span>
      </div>
      <div class="label">Biography:</div>
      <div class="biography emphasized">{{ individualProfile.biography }}</div>
      <div class="label">Motto:</div>
      <div class="motto emphasized">{{ individualProfile.motto }}</div>
    </div>      
  </div>
</div>

<div class="center-class">
  <table class="split-table">
    <tr>
      <td class="left-side">
        <div class="upper-start">            
          <xp-followers2></xp-followers2>
          <xp-clubs2></xp-clubs2>
        </div>
      </td>
      <td class="right-side">
        <xp-tourist-posts2 *ngIf="shouldRender" [selectedProfile]="profile[0]"></xp-tourist-posts2>            
      </td>
    </tr>
  </table>
</div>

<div class="messages">
  <xp-message2 *ngIf="showMessage" class="notification"></xp-message2>
</div>

<button class="action-button" mat-raised-button (click)="showAuthorReviews()">Show reviews</button>
<div *ngIf="authorReviewsVisible" class="reviews-container">
  <table class="reviews-table">
    <thead>
      <tr>
        <th>Grade</th>
        <th>Comment</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of authorReviews">
        <td>{{ review.grade }}</td>
        <td>{{ review.comment }}</td>
        <td>
          <button class="action-button" mat-raised-button (click)="disapproveReview(review.id)">Disapprove</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="action-button" mat-raised-button (click)="close()">Close</button>
</div>
