/* Styling the footer */


footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100vw - 20px;
    padding-top: 1vw;
    background-color: #333; /* Dark grey background */
    color: #fff; /* White text color */
    font-family: 'Montserrat', sans-serif; /* Montserrat font family */
    display: flex; /* Use flex display to align items in a row */
    justify-content: space-between; /* Space between items in the row */
    align-items: center; /* Vertically align content */
    z-index: -5;
  }

/* Styling for the title (bigger font) */
footer .title {
    font-size: 4vw; /* Increase the font size to 60px or adjust as needed */
    font-weight: bold;
    max-width: 40%; /* Limit the width to 50% of the footer to fit within the screen */
    text-align: right; /* Right-align the h1 element */
    position: relative; /* Enable relative positioning */
    right: 8vw;
    bottom: 0vw;
}

/* Styling for the contact information (left-aligned, smaller, and organized vertically) */
footer .contact-info {
    font-size: 1vw; /* Adjust the font size for <p> */
    text-align: left; /* Left-align <p> elements */
    margin-left: 4vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

footer .contact-info-title {
    font-size: 2vw; /* Adjust the font size for <p> */
    text-align: left; /* Left-align <p> elements */
    font-weight: normal;
    margin-bottom: 2vw;
}
