<form [formGroup]="tourReviewForm">
    <div>
        <mat-form-field>
            <mat-label>Grade</mat-label>
            <input matInput formControlName="grade" type="number" min="1" max="5"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          formControlName="comment"
          cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <img *ngIf="currentFile" [src]="currentFileURL" alt="Selected Image" class="thumbnail" />
            <mat-label>Images</mat-label>
            <button mat-raised-button color="primary" (click)="fileInput.click()">Upload File</button>
            <input hidden #fileInput type="file" (change)="onFileSelected($event)">
    <button *ngIf="!shouldEdit" color="primary" type="submit" (click)="addTourReview()" mat-raised-button>Done</button>
    <button *ngIf="shouldEdit" color="primary" type="submit" (click)="updateTourReview()" mat-raised-button id="entity-raised-button">Done</button>
    </div>
</form>