form {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.image-container {
  text-align: center;
}
.user-title-section {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-title {
  color: rgb(56, 28, 117);
  margin-bottom: 30px;
  margin-top: 10px;
}
.Empty-Cart-Image {
  width: 100px; /* Prilagodite širinu prema potrebama */
  height: auto; /* Ovo održava odnos širine i visine slike */
  display: block; /* Postavljanje na blok nivoa omogućava dodavanje margini i paddinga */
  margin: 0 auto; /* Centrira sliku horizontalno */
}
div {
  width: 400px;
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-top: 10px;
  margin-bottom: 20px;
}

.action-button {
  margin-top: 20px;
  background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.action-button:hover {
  background: white;
  color: black;
  border: 1px solid rgb(56, 28, 117);
}

.center-class {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}