<div>
    <h1>{{ club?.name }}</h1>
    <p>{{ club?.description }}</p>
    <h2>Members:</h2>
    <ul>
        <li *ngFor="let memberId of club?.memberIds; let i=index">{{ memberUsernames[i] || 'Unknown' }}
            <button *ngIf="isOwner && memberId !== club?.ownerId" (click)="kickMember(memberId)">Kick</button>
        </li>
    </ul>
    <div *ngIf="isOwner">
        <h2>Invite users:</h2>
        <ul>
            <li *ngFor="let nonMemberId of nonMemberIds; let i=index">{{ nonMemberUsernames[i] || 'Unknown' }}
                <button (click)="inviteMember(nonMemberId)">Invite</button>
            </li>
        </ul>
    </div>
</div>