<div class="container">
    <h2>START YOUR JOURNEY <b>{{currentProfile}}</b></h2>
    <p class="intro-paragraph">Discover new horizons, embrace experiences and unlock your true potential.</p>
    <div class="center-container">
    <table class="content-table">
        <tr>
            <td class="image-cell">
                <img src="../../../../assets/images/tourist.jpg" alt="Picture of a tourist" width="575" height="auto">
            </td>
            <td class="text-cell">
                <p class="first-paragraph">Whether you seek hidden gems in your surroundings or adventures in far-off places 'Explorer' is your trusted guide. Unleash your inner adventurer, broaden your perspective, and make every day an exploration.</p>
                <p class="second-paragraph">Join us now and chart your course to a life filled with limitless possibilities and unforgettable moments!</p>
            </td>
        </tr>
    </table>
    </div>
    <div class="button-container">
        <a class="register-button" href="/register">REGISTER</a>
    </div>
</div>