<!-- Wrapper for the entire content -->
<div class="content-wrapper">

  <!-- Map Section -->
  <div class="map-section">
    <xp-map-view *ngIf="canRender" [loadedCheckpoints]="checkpoints" [loadedTour]="tour"></xp-map-view>
  </div>

  <!-- Container for the sections -->
  <div class="section-container">

    <!-- Navigation Buttons (Left) -->
    <button class="navigation-button" (click)="prevSection()">
      <i class="fas fa-chevron-left"></i> <!-- FontAwesome left arrow icon -->
    </button>

    <!-- Tour Info Section -->
    <div *ngIf="currentSection === 0" class="section info-section">
      <!-- Display Tour Info here -->
      <h2><i class="fas fa-info-circle"></i> Tour Information</h2>
      
      <div class="edit-button-wrapper" *ngIf="userRole === 'author'">
        <button class="edit-button" (click)="toggleEditMode()" [hidden]="editMode">
          <i class="fas fa-edit"></i> <!-- FontAwesome edit icon -->
        </button>
        <button class="edit-button" (click)="toggleEditMode()"  [hidden]="!editMode">
          <i class="fas fa-save"></i> <!-- FontAwesome floppy disk icon -->
        </button>
      </div>

      <!-- Form Start -->
<!-- Form Start -->
<!-- Form Start -->
<form [formGroup]="tourInfoForm" (ngSubmit)="onSubmit()">

  <label>
    <strong>Name:</strong>
    <input type="text" formControlName="name" [readonly]="!editMode" />
  </label>
  
  <label>
    <strong>Description:</strong>
    <textarea formControlName="description" [readonly]="!editMode"></textarea>
  </label>
  
  <label>
    <strong>Difficulty:</strong>
    <input type="number" formControlName="difficulty" [readonly]="!editMode" />
  </label>
  
  <label>
    <strong>Tags:</strong>
    <textarea formControlName="tags" [readonly]="!editMode"></textarea>
  </label>
  
  <label>
    <i><strong>Last published:</strong> {{ tour?.publishTime | date:'medium' }}</i>
  </label>

</form>

      <!-- Form End -->
    </div>    

    <div *ngIf="currentSection === 1" class="section checkpoints-section">
      <!-- Display Tour Checkpoints as a table -->
      <h2><i class="fas fa-location-dot"></i> Tour Checkpoints</h2>
      <table style="width: 100%; text-align: center;">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let checkpoint of checkpoints">
            <td>
              <!-- Display checkpoint image -->
              <img *ngIf="checkpoint.image" [src]="checkpoint.image" alt="Checkpoint Image" style="width: 200px; height: 100px;">
              <!-- Add a default image or placeholder if checkpoint.image is not available -->
              <img *ngIf="!checkpoint.image" [src]="defaultImageUrl" alt="Default Image" style="width: 100px; height: 100px;">
            </td>
            <td>{{ checkpoint.name }}</td>
            <td>{{ checkpoint.description }}</td>
            <td>
              <!-- Add options for editing and deleting -->
              <button (click)="editCheckpoint(checkpoint)">Edit</button>
              <button (click)="deleteCheckpoint(checkpoint)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

        <!-- Tour Equipment Section -->
<!-- tour-reviews.component.html -->

<div *ngIf="currentSection === 2" class="section review-section">
  <h2><i class="fas fa-star"></i> Tour Reviews</h2>

  <!-- Display Reviews -->
  <div *ngFor="let review of reviews" class="review-item">
    <p class="rating">
      Rating: 
      <span class="stars">
        <i *ngFor="let star of getStarArray(review.grade)" class="fas fa-star"></i>
      </span>
    </p>
    <p>{{ review.comment }}</p>
    <p class="review-date">Posted: {{ review.reviewDate | date:'medium' }}</p>
    <!-- Add more details as needed, e.g., user info, images, etc. -->
  </div>

  <!-- Add Review Form -->
  <div class="review-form">
    <h3>Add Your Review</h3>
    <form (ngSubmit)="submitReview()">
    </form>
  </div>
</div>

    <!-- Tour Equipment Section -->
<div *ngIf="currentSection === 3" class="section equipment-section">
  <!-- Display Tour Equipment here -->
  <h2><i class="fa-solid fa-binoculars"></i> Tour Equipment</h2>
  <!-- Add your tour equipment details here -->
  <!-- Add more details as needed -->
</div>

    <!-- Tour Objects Section -->
    <div *ngIf="currentSection === 4" class="section object-section">
      <!-- Display Tour Equipment here -->
      <h2><i class="fa-solid fa-building"></i> Tour Objects</h2>
      <!-- Add your tour equipment details here -->
      <!-- Add more details as needed -->
    </div>
        
    <!-- Navigation Buttons (Right) -->
    <button class="navigation-button" (click)="nextSection()">
      <i class="fas fa-chevron-right"></i> <!-- FontAwesome right arrow icon -->
    </button>

  </div>
</div>
