/* General Styles */
.map-section {
  position: relative;
  overflow: hidden; /* Hide overflow to prevent unwanted scrolling on the map */
}

.section h2 {
  background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
  color: white;
  padding: 10px;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
}

.section-container {
  position: absolute;
  top: 63%;
  left: 0;
  transform: translateY(-60%);
  display: flex;
  align-items: center;
  overflow-x: auto; /* Add horizontal scroll bar if content overflows */
}

/* Section Styles */
.section {
  width: 600px; /* Set a maximum width for the sections */
  height: 600px;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(211, 211, 211, 0.8)), white; /* White/light gray gradient background */
  border: 1px solid black;
  padding: 15px;
  overflow-y: auto; /* Add vertical scroll bar if content overflows */
  border-radius: 15px; /* Add border-radius for rounded corners */
}

.info-section h2 {
  margin-bottom: 10px; /* Add margin between header and form */
}

.edit-button-wrapper {
  text-align: right; /* Align the button to the right */
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(56, 28, 117);
}
.vehicle-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
}

/* Button Styles */
.navigation-button {
  font-size: 50px;
  padding: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.navigation-button i {
  color: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
}

/* Form Styles */
label {
  display: block;
  margin-bottom: 6px; /* Increased margin */
}

input {
  width: 100%;
  box-sizing: border-box;
  height: 30px; /* Adjust the height as needed */
  margin-bottom: 6px; /* Increased margin */
}

textarea {
  width: 100%;
  box-sizing: border-box;
  height: 120px; /* Adjust the height as needed */
  margin-bottom: 6px; /* Increased margin */
  overflow-x: auto; /* Add horizontal scroll if content overflows */
}

/* tour-reviews.component.css */

.review-section {
  padding: 20px;
}

.review-item {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-item p {
  margin: 5px 0;
}

.review-item .rating {
  margin-bottom: 5px;
}

.review-item .stars {
  color: rgb(56, 28, 117);
}

.review-form .stars {
  color: rgb(56, 28, 117);
}

.review-item p.review-date {
  color: #757575;
}

.review-form {
  margin-top: 20px;
}

.review-form h3 {
  margin-bottom: 10px;
}

.review-form form {
  display: flex;
  flex-direction: column;
}

.review-form label {
  margin-bottom: 8px;
}

.review-form input,
.review-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.review-form button {
  padding: 12px;
  background-color: #2979ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.review-form button:hover {
  background-color: #2962ff;
}

/* Add more styles as needed */
/* Add this CSS to your component's style file or your global styles */

.object-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 30px;
}


.object-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}



.object-details h3 {
  margin-bottom: 6px;
  font-size: 18px;
  color: #333;
}

.object-details p {
  margin-bottom: 5px;
  font-size: 16px;
  color: #666;
}

.category {
  font-style: italic;
  font-size: 16px;
  color: #888;
}

.object-item {
  background-color: #fff; /* Set the background color to white */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  padding: 10px;
}


.object-details {
  position: relative;
}

.object-actions {
  position: absolute;
  bottom: 8px; /* Adjust this value as needed */
  right: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.object-actions button {
  background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
}

.add-object-button {
  background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
}

/* Add this CSS to your stylesheet */

/* Equipment Section Styling */
.equipment-section {
  text-align: center;
  padding: 20px;
}

.equipment-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.equipment-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.equipment-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.equipment-item p {
  font-size: 14px;
  color: #555;
}

.object-section .restroom-icon,
.object-section .restaurant-icon,
.object-section .parking-icon,
.object-section .other-icon,
.object-section .edit-button,
.object-section .delete-button {
  color: rgb(56, 28, 117);

}

.message-form-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  height: 25vw;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.message-form-wrapper2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 40vw;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.close-button {
  position: absolute;
  top: 0; /* Adjusted position */
  right: 0; /* Adjusted position */
  margin: 10px; /* Added margin for better spacing */
  color: rgb(56, 28, 117); /* Updated color */
  cursor: pointer; /* Added cursor style */
}

.report-button {
  position: absolute;
  right: 100px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  color: rgb(56, 28, 117);
  background-color: linear-gradient(rgba(255, 255, 255, 0.8), rgba(211, 211, 211, 0.8)), white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.report-button:hover {
  background-color: rgb(56, 28, 117);
  color: #ffffff;
}


.gift-button {
  padding: 10px;
  font-size: 16px;
  color: rgb(56, 28, 117);
  background-color: linear-gradient(rgba(255, 255, 255, 0.8), rgba(211, 211, 211, 0.8)), white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.gift-button:hover {
  background-color: rgb(56, 28, 117);
  color: #ffffff;
}

.checkpoints-section {
  padding: 20px;
  background-color: #8e44ad; /* Purple background color */
  color: #ecf0f1; /* Light text color */
}

.checkpoint-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Align checkpoint cards in two columns */
}

.checkpoint {
  border: 2px solid #9b59b6; /* Darker purple border */
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  width: calc(48% - 20px); /* Adjust the width as needed for two columns */
  box-sizing: border-box;
  background-color: #ffffff; /* White background for contrast */
  transition: background-color 0.3s ease;
}

.checkpoint:hover {
  background-color: #ecf0f1; /* Light gray on hover */
}

.image-container {
  position: relative;
}

.checkpoint-image {
  width: 100%;
  height: 150px; /* Fixed height for images */
  object-fit: cover;
  border-radius: 5px;
}

.checkpoint-details {
  margin-top: 10px;
}

.checkpoint-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(56, 28, 117); /* Dark gray for description text */
}

.checkpoint-description {
  font-size: 0.9em;
  color: rgb(56, 28, 117); /* Dark gray for description text */
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.action-buttons button {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.edit-button,
.delete-button {
  background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
