/* General Styles */
.map-section {
  position: relative;
  overflow: hidden; /* Hide overflow to prevent unwanted scrolling on the map */
}

.section h2 {
  background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
  color: white;
  padding: 10px;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
}

.section-container {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-60%);
  display: flex;
  align-items: center;
  overflow-x: auto; /* Add horizontal scroll bar if content overflows */
}

/* Section Styles */
.section {
  width: 600px; /* Set a maximum width for the sections */
  height: 560px;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(211, 211, 211, 0.8)), white; /* White/light gray gradient background */
  border: 1px solid black;
  padding: 15px;
  overflow-y: auto; /* Add vertical scroll bar if content overflows */
  border-radius: 15px; /* Add border-radius for rounded corners */
}

.info-section h2 {
  margin-bottom: 10px; /* Add margin between header and form */
}

.edit-button-wrapper {
  text-align: right; /* Align the button to the right */
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.vehicle-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
}

/* Button Styles */
.navigation-button {
  font-size: 50px;
  padding: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.navigation-button i {
  color: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
}

/* Form Styles */
label {
  display: block;
  margin-bottom: 6px; /* Increased margin */
}

input {
  width: 100%;
  box-sizing: border-box;
  height: 30px; /* Adjust the height as needed */
  margin-bottom: 6px; /* Increased margin */
}

textarea {
  width: 100%;
  box-sizing: border-box;
  height: 120px; /* Adjust the height as needed */
  margin-bottom: 6px; /* Increased margin */
  overflow-x: auto; /* Add horizontal scroll if content overflows */
}

