<!-- Wrapper for the entire content -->
<div class="content-wrapper">

  <!-- Map Section -->
  <div class="map-section">
    <xp-map-view *ngIf="canRender" [loadedCheckpoints]="checkpoints" [loadedTour]="tour"></xp-map-view>
  </div>

  <!-- Container for the sections -->
  <div class="section-container">

    <!-- Navigation Buttons (Left) -->
    <button class="navigation-button" (click)="prevSection()">
      <i class="fas fa-chevron-left"></i> <!-- FontAwesome left arrow icon -->
    </button>

    <!-- Tour Info Section -->
    <div *ngIf="currentSection === 0" class="section info-section">
      <!-- Display Tour Info here -->
      <h2>Tour Information</h2>
      
      <div class="edit-button-wrapper">
        <button class="edit-button" (click)="toggleEditMode()" [hidden]="editMode">
          <i class="fas fa-edit"></i> <!-- FontAwesome edit icon -->
        </button>
        <button class="edit-button" (click)="toggleEditMode()"  [hidden]="!editMode">
          <i class="fas fa-save"></i> <!-- FontAwesome floppy disk icon -->
        </button>
      </div>

      <!-- Form Start -->
<!-- Form Start -->
<!-- Form Start -->
<form [formGroup]="tourInfoForm" (ngSubmit)="onSubmit()">

  <label>
    <i><strong>Published:</strong> {{ tour?.publishTime ? formatDate(tour.publishTime) : 'N/A' }}</i>
  </label>

  <label>
    <strong>Name:</strong>
    <input type="text" formControlName="name" [readonly]="!editMode" />
  </label>
  
  <label>
    <strong>Description:</strong>
    <textarea formControlName="description" [readonly]="!editMode"></textarea>
  </label>
  
  <label>
    <strong>Difficulty:</strong>
    <input type="number" formControlName="difficulty" [readonly]="!editMode" />
  </label>
  
  <label>
    <strong>Tags:</strong>
    <textarea formControlName="tags" [readonly]="!editMode"></textarea>
  </label>
  
</form>
<!-- Form End -->

<!-- Form End -->

      <!-- Form End -->
    </div>    

    <!-- Tour Checkpoints Section -->
    <div *ngIf="currentSection === 1" class="section checkpoints-section">
      <!-- Display Tour Checkpoints here -->
      <h2>Tour Checkpoints</h2>
      <div *ngFor="let checkpoint of checkpoints">
        <!-- Display checkpoint details here -->
        <p>{{ checkpoint.name }}</p>
        <!-- Add more details as needed -->
      </div>
    </div>

    <!-- Tour Equipment Section -->
    <div *ngIf="currentSection === 2" class="section equipment-section">
      <!-- Display Tour Equipment here -->
      <h2>Tour Equipment</h2>
      <!-- Add your tour equipment details here -->
      <!-- Add more details as needed -->
    </div>

    <!-- Navigation Buttons (Right) -->
    <button class="navigation-button" (click)="nextSection()">
      <i class="fas fa-chevron-right"></i> <!-- FontAwesome right arrow icon -->
    </button>

  </div>
</div>
