.blog-comment-form {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
   
  }
  
.blog-comment-form mat-form-field {
    width: 100%;
    
}

mat-form-field {
    width: 700px;
  }
  
.blog-comment-form textarea {
    width: max-content;
    border: 1px solid #ddaee1;
    padding: 10px;
    border-radius: 5px;
}
  
.blog-comment-form button {
    margin-top: 10px;
    width: 100px;
    display: block;
    margin: 0 auto;
}
  
 
.comment-button {
    margin-top: 10px;
    margin-left: 10px;
    background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    color: #fff; 
    font-family: 'Montserrat'; 
    border: none;
    transition: background-color 0.3s;
    padding: 10px 20px;
    max-width: 250px;
    border-radius: 5px;
    
}
  
.comment-button:hover {
    background: linear-gradient(rgb(31, 15, 65), rgb(65, 59, 131));
    cursor: pointer;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Postavlja formu na sredinu horizontalno */
    padding: 20px; /* Dodaje malu unutrašnju širinu oko forme */
    max-width: 800px; 
    margin: 0 auto;
}
.comment-text {
    width: 100%; 
    max-width: 100%;
    resize: none;
}
  
.message-button {
    margin-top: 20px;
    background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
  }
.message-button:hover {
    background: linear-gradient(rgb(31, 15, 65), rgb(65, 59, 131));
}