<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="whyus.component.css">
</head>
<body>

    <div class="header">
        <h2>WHY US</h2>
    </div>

    <table>
        <tr>
            <td><img src="assets/images/Rectangle 11.jpg" alt="Rectangle 11"></td>
            <td><img src="assets/images/Rectangle 8.jpg" alt="Rectangle 8"></td>
            <td><img src="assets/images/Rectangle 9.jpg" alt="Rectangle 9"></td>
            <td><img src="assets/images/Rectangle 10.jpg" alt="Rectangle 10"></td>
        </tr>
        <tr>
            <td class="table-cell">Unique adventures</td>
            <td class="table-cell">Localy based guides</td>
            <td class="table-cell">Easy tour selection</td>
            <td class="table-cell">Supports local communities</td>
        </tr>
    </table>

</body>
</html>
