<div class="header">
    <h2>WHY US</h2>
</div>
<div class="center-container">
    <table>
        <tr>
            <td><img src="assets/images/Rectangle 11.jpg" alt="Rectangle 11"></td>
            <td><img src="assets/images/Rectangle 8.jpg" alt="Rectangle 8"></td>
            <td><img src="assets/images/Rectangle 9.jpg" alt="Rectangle 9"></td>
            <td><img src="assets/images/social-justice.png" alt="Rectangle 10"></td>
        </tr>
        <tr>
            <td class="table-cell">Unique adventures</td>
            <td class="table-cell">Localy based guides</td>
            <td class="table-cell">Easy tour selection</td>
            <td class="table-cell">Supports local communities</td>
        </tr>
    </table>
</div>

