.container {
    margin: 0 7vw;
    text-align: center;
    padding-bottom: 60px;
}
.center-container {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-bottom: 100px;
  }
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2vw;
    color: #2E003D;
    margin-top: 4vw;
    margin-bottom: 4vw;
    text-align: center;
}

table {
    width: 80vw;
    border-collapse: collapse;
}

.table-cell {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
    color: #000000;
    opacity: 0.75;
    letter-spacing: 0.04vw;
    text-align: center;
    line-height: 1.2;
}


td {
    padding: 40px;
    text-align: center;
    color: black;
    font-family: Montserrat, sans-serif;
}

img {
    Width: 60px;
    Height: 60px;
    Top: 2134px;
    Left: 144px;
    display: block;
    margin: 0 auto;
}