<!-- profile.component.html TOURIST-->
<div class="profile-container">
  <div class="profile-card" *ngFor="let individualProfile of profile">
    <div class="label">TOURIST</div>
    <img class="profile-picture" src="{{ individualProfile.profilePicture }}" alt="">
    <div class="profile-details">
      <div class="name">
        <span class="first-name">{{ individualProfile.firstName }} </span>
        <span class="last-name">{{ individualProfile.lastName }}</span>
      </div>
      <div class="label">Biography:</div>
      <div class="biography emphasized">{{ individualProfile.biography }}</div>
      <div class="label">Motto:</div>
      <div class="motto emphasized">{{ individualProfile.motto }}</div>
    </div>    
    <div class="profile-actions">
      <button class="action-button" (click)="onEditClicked(individualProfile)">Edit Profile Info</button>
      <button class="action-button" (click)="onChangeClicked(individualProfile)">Change Profile Picture</button>
    </div>
    <xp-profile-form *ngIf="selectedProfile && showProfileForm" (profileUpdated)="getByUserId()" [profile]="selectedProfile"></xp-profile-form>
    <xp-picture-form *ngIf="selectedProfile && showPictureForm" (profileUpdated)="getByUserId()" [profile]="selectedProfile"></xp-picture-form>
  </div>
</div>


<xp-tour-preference-field></xp-tour-preference-field>
<xp-profiles></xp-profiles>
<xp-followers></xp-followers>
<xp-message *ngIf="showMessage" class="notification"></xp-message>