<div class="all"> 
<div class="user-title-section">
  <h1 class="user-title">Edit your bundle</h1>
</div>
<form [formGroup]="bundleDataForm" class="form-container">

    <div class="tour-container">
      <div *ngFor="let tour of tours" class="tour-item">
        <div class="image-container">
          <!-- Use the image source property accordingly -->
          <img [src]="tour.image" alt="Tour Image" class="tour-image" />
          <div class="overlay">
            <div class="tour-description">
              <h3>{{ tour.name }}</h3>
            </div>
            <br>
            <div class="tour-price">
              <p>Price: {{ tour.price }}AC</p>
            </div>
          </div>
        </div>
        <div class="tour-actions">
          <button style="color: rgb(56, 28, 117);" (click)="toggleTour(tour)" mat-raised-button>
            {{ tour.isAdded ? '-' : '+' }}
          </button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <mat-form-field class="custom-form-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" [value]="selectedBundle?.name" />
    </mat-form-field>
  
    <mat-form-field class="custom-form-field">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" type="text" [value]="selectedBundle?.price" />
    </mat-form-field>
    

    <div class="button-container">
      <a class="create-button" color="primary"  (click)="updateBundle()" mat-raised-button>Update</a>
    </div>
</form>
</div>