<div class="center-container">
<div id="tour-review">
    <hr>
    <div id="tourReview-details">
        <div>
            <label (click)="toggleTable()">Comments 
                <span [ngClass]="{'arrow-up': showTable, 'arrow-down': !showTable}">&#9660;</span>
            </label>
            <table>
            <div *ngIf="showTable">
                <div class="tour-review-box" *ngFor="let tr of tourReview">
                    <div class="column">
                        <div class="row">
                            <div class="user-info">
                                <div class="username">{{ getUserName(tr.userId) }}</div>
                                <div class="review-date">{{ tr.reviewDate | date: 'yyyy-MM-dd' }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="comment">{{ tr.comment }}</div>
                        </div>
                        <div class="row">
                            <div class="grade">{{ tr.grade }}/5</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="username">
                              
                            </div>
                            <div class="thumbnail">
                                <img src="{{tr.images}}" alt="" srcset="">
                            </div>
                            <div class="button-action">
                                <button  *ngIf="tr.userId === currentUserId" color="accent" (click)="deleteTourReview(tr.id || 0)" mat-icon-button>
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button  *ngIf="tr.userId === currentUserId" color="primary" (click)="onEditClicked(tr)" mat-icon-button>
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                    
                    </div>
                    
                </div>
            </div>
        </table>
            <button color="primary" (click)="onAddClicked()" mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div>
            <xp-tour-review-form *ngIf="shouldRenderTourReviewForm" [shouldEdit]="shouldEdit" [tourReview]="selectedTourReview" (tourReviewUpdated)="getTourReviewByTourId(tourId)"></xp-tour-review-form>
        </div>
    </div>
</div>
</div>