.bundle-container {
  max-width: 60%;
  background: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  
}
.all{
  min-height: 100vh;
}
.create-button {
  background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.bundle-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto; /* Add this line to enable scrolling */
  max-height: 500px;
  
}

.bundle-item {
  margin: 10px;
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 200px; /* Adjust the width as needed */
  height: 260px;  /* Adjust the height as needed */
  border-radius: 10px;
}

.bundle-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adjust this line to space the description, price, and status properly */
}

.bundle-description h3,
.bundle-price p,
.bundle-status p {
  margin: 0;
}

.bundle-actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bundle-actions button {
  font-size: 14px !important; /* Adjust the font size as needed */
  margin-top: 5px;
  margin-right: 8px;
}



.user-title-section {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-title {
  color: rgb(56, 28, 117);
  margin-bottom: 30px;
  margin-top: 50px;
}

.action-button {
  background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 9px !important;
}

.action-button:hover {
  background: white;
  color: black;
  border: 1px solid rgb(56, 28, 117);
}

.create-button {
  background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1150px;
}
.create-button:hover {
  background: white;
  color: black;
  border: 1px solid rgb(56, 28, 117);
}

