<!-- profile-form.component.html -->
<div class="form-container" *ngIf="!changeImage">
    <h1>UPDATE PROFILE</h1>

    <xp-picture-form2 [profile]="profile"></xp-picture-form2>
    
    <form [formGroup]="profileForm">        
        <div class="form-field">
        <mat-form-field class="form-field">
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="firstName">
        </mat-form-field>
        </div>
        <div class="form-field">
        <mat-form-field class="form-field">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastName">
        </mat-form-field>
        </div>
        <div class="form-field">
        <mat-form-field class="form-field">
            <mat-label>Biography</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="biography" cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        </div>
        <div class="form-field">
        <mat-form-field class="form-field">
            <mat-label>Motto</mat-label>
            <input matInput type="text" formControlName="motto">
        </mat-form-field>
        </div>
        <div class="profile-actions">
            <button class="action-button" mat-raised-button type="submit" color="primary" (click)="updateProfile()">Save</button>
        </div>
    </form>
</div>


  