.card-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Add space between cards */
  }
  
  /*
  .card {
    width: 200px;
    height: 320px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 20px;
    background: url('https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg') no-repeat center center;
    background-size: cover;
    border: 3px solid rgb(56, 28, 117); 
  }*/

  .card {
     /* Subtract gap to maintain three cards per row */
    width: calc(33.33% - 20px);
    height: 320px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 20px;
    background: url('https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg') no-repeat center center;
    background-size: cover;
    border: 3px solid rgb(56, 28, 117); /* Add a purple border */
  }
  
  
  .tour {
    width: calc(33.33% - 10px);
    height: 300px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 20px;
    background-size: cover; /* Set background-size to cover */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    border-radius: 10px;
  }
  
  
  
  .tour .details {
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3.5em;
    transition: height 0.5s ease-in-out;
    padding: 0.6em;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
    backdrop-filter: blur(19px); /* Adjust the blur value as needed */
  }
 
  
  
  .tour .details > label {
    font-weight: bold;
  }


  .tour .details > p {
    font-size: 0.8em;
    margin-top: 0.5em;
  }
  
  .tour .details .button-container {
    margin-top: 10px;
  }
  
  .tour .view-button {
    display: inline-block;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:  rgb(56, 28, 117);
    background-color: #ffffff;
    border: 0.2vw solid rgb(56, 28, 117);
    border-radius: 0.375vw;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  
  .tour .view-button:hover {
    background-color:  rgb(56, 28, 117);;
    color: #ffffff;
  }
  
  /*
  .details > p {
    font-size: 0.8em;
    margin-top: 0.5em;
    color: transparent; 
  }
  
  .details > label {
    font-weight: bold;
  }
  
  .details {
    color: white;
    box-shadow: 0 3px 10px rgb(56, 28, 117);
    width: 100%;
    background-color: rgb(56, 28, 117);
    position: absolute;
    bottom: 0;
    height: 2.6em;
    transition: height 0.5s ease-in-out;
    padding: 0.6em;
    overflow: hidden;
    box-sizing: border-box; 
  }*/
  
  .card:hover > .details {
    height: 80%;
  }
  
  .card:hover > .details > p {
    color: white; /* Make the rest of the text visible on hover */
    overflow: hidden; /* Hide any overflow */
  }
  .view-button {
    display: inline-block;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16;
    color: #2E003D;
    background-color: #ffffff;
    border: 0.2vw solid #2E003D;
    border-radius: 0.375vw;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  .button-container {
    text-align: center;
    margin: 10px;
  }
  .view-button:hover {
    background-color: #2E003D;
    color: #ffffff;
  }
  .header {
    font-size: 30px;
    color: #2E003D; /* Text color */
    text-align: center; /* Center the text */
    margin: 20px; /* Add space below the header */
    font-weight: bold; /* Make the text bold if desired */
    text-transform: uppercase; /* Convert text to uppercase if desired */
  }

  .tour-container {
    display: flex;
  }
  
  .column {
    flex: 1;
    margin: 10px;
  }

  .checkpoint-rectangle {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    cursor: grab;
  }


  /* Styles for the bundles section */
  .tour-list {
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  .all{
    min-height: 100vh;
    margin-bottom: 35vh;
    margin-left: 10vh;
    margin-right: 10vh;
  }
  .tour-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin: 2px;
    margin-top: 50px;

  }

  .tour:hover .details {
    height: 80%;
  }
  
  .tour {
    width: 200px;
    height: 300px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 20px;
    background-size: cover; /* Set background-size to cover */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    border-radius: 10px;
  }
  
  
  
  .tour .details {
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3.5em;
    transition: height 0.5s ease-in-out;
    padding: 0.6em;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
    backdrop-filter: blur(19px); /* Adjust the blur value as needed */
  }
 
  
  
  .tour .details > label {
    font-weight: bold;
  }


  .tour .details > p {
    font-size: 0.8em;
    margin-top: 0.5em;
  }
  
  .tour .details .button-container {
    margin-top: 10px;
  }
  
  .tour .view-button {
    display: inline-block;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #2E003D;
    background-color: #ffffff;
    border: 0.2vw solid #2E003D;
    border-radius: 0.375vw;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  
  .tour .view-button:hover {
    background-color: #2E003D;
    color: #ffffff;
  }

  .cart-button {
    display: inline-block;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16;
    color: #2E003D;
    background-color: #ffffff;
    border: 0.2vw solid #2E003D;
    border-radius: 0.375vw;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-top: -420px;
    margin-right: 30px;
  
    position: absolute; /* Postavlja apsolutni položaj */
    top: 485px; /* Postavlja na vrh stranice */
    right: 10px; /* Postavlja na desnu stranu stranice */
  }
  
  .cart-button i.fas.fa-shopping-cart::before {
    margin-right: 5px; /* Margina sa desne strane ikone */
    font-size: 20px; /* Veličina ikone korpe */
  }
  
  .cart-button:hover {
    background-color: #2E003D;
    color: #ffffff;
  }
  
  .cart-button:hover .numberOfItems {
    position: absolute;
    bottom: 7px;
    left: 25px;
    background: #2E003D;
    color: 2E003D;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    font-weight: 500;
    border: 1px solid white; 
  }
  
  .numberOfItems {
    position: absolute;
    bottom: 7px;
    left: 25px;
    background: white;
    color: 2E003D;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    font-weight: 500;
    border: 1px solid #2E003D;
  }
  
  .numberOfItems:hover {
    position: absolute;
    bottom: 7px;
    left: 25px;
    background: #2E003D;
    color: 2E003D;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    font-weight: 500;
    border: 1px solid white;
  }
  .header{
    color: rgb(56, 28, 117);
  }



  .create-button {
    background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 15px;
    margin-bottom: 20px;
  }
  .create-button:hover {
    background: white;
    color: black;
    border: 1px solid rgb(56, 28, 117);
  }
  .create-button:disabled {
    background: #adadad; /* Change the background color to gray */
    color: #dcdcdc; /* Change the text color to a darker shade */
    cursor: not-allowed; /* Show a 'not-allowed' cursor */

  }
  
  
  .row-container {
    display: flex;
    flex-wrap: wrap;
    gap: 11.25px;
    margin: 20px;
    margin-top: 30px;
    justify-content: space-between; /* Ensure space between rows */
  }


  .tour-column-container {
    max-width: 100%;
    background: white;
    border-radius: 8px;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .tour-info-container {
    max-width: 100%;
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-top: auto;
    margin-left: 5px;
    margin-right: auto;
  }

  .user-title-section {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .user-title {
    color: rgb(56, 28, 117);
    margin-bottom: 30px;
    margin-top: 50px;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center; /* Added to center all text within the description */
  }

  .icon-empty {
    width: 320px;
    height: 288px;
    display: block;
    margin: auto;
  }


  .icon-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 18px; /* You can adjust this value based on your preference */
  }

  /* Define a new CSS class for the Save Composed Tour button */
  .save-button {
    background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 15px;
   
    margin: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .save-button:hover {
    background: white;
    color: black;
    border: 1px solid rgb(56, 28, 117);
  }