/* You can add global styles to this file, and also import other style files */


#entity {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

#entity-details {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
    justify-content: center;
}

#entity-form {
    width: 400px;
    display:flex;
    gap: 20px;
    flex-direction: column;
    background-color: #ffffff;
}

#entity-icon-button{
    color: #ffffff;
    background-color: #2e003e;
    transition: background-color 0.3s, color 0.3s;  
    margin: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#entity-icon-button:hover{
    color:#2e003e;
    background-color: #ffffff;
}

#entity-raised-button{
    color: #ffffff;
    background-color: #2e003e;
    transition: background-color 0.3s, color 0.3s;    
    padding: 0.5vw;
    width: 100%;
    height: 100%;
    margin: 1vw;
}

#entity-raised-button:hover{
    color:#2e003e;
    background-color: #ffffff;
}

#entity-details-icon{
    max-width: 3vw; /* Adjust the percentage as needed */
    height: auto; /* Maintain the image's aspect ratio */
}

#entity-title-paragraph {
    text-align: center; /* Center text horizontally */
    margin: 0; /* Remove default margins applied by the browser */
    margin-top: 20px; /* Adjust the margin as needed */
}

#entity-tr-container {
        background-color: #ffffff;
        border: 1px solid #d9d9d9; /* Add a border for separation */
        border-radius: 3px; /* Add rounded edges */

} 

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif; /* Montserrat font family */
}

p {
    font-family: 'Montserrat', sans-serif; /* Montserrat font family */    
}

strong{
    font-family: 'Montserrat', sans-serif; /* Montserrat font family */    
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif; /* Montserrat font family */
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #2e003e;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #2e003e;
    
}

tbody tr.active-row {
    font-weight: bold;
    color: #2e003e;
}


button {
    background-color: #2e003e;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;    
}

button {
    background-color: #ffffff;
    color: #2e003e;
}


/* CSS Classes for Mat Form fields, not functional */
/* .mat-icon {
    vertical-align: middle;
}

.entity-mat-mdc-form-field .mat-mdc-form-field {
    height: 40px;
    color: #8874a3;
}

.entity-mat-mdc-form-field .mat-mdc-form-field:focus {
    color: #2e003e;
}

.entity-mat-mdc-form-field .mat-mdc-form-field:invalid {
    color: #d62828;
}

.entity-mat-mdc-form-field .mat-mdc-form-field:focus:invalid {
    color: #b80000;
}

::ng-deep.entity-mat-mdc-form-field {
    display: flex;
    align-items: flex-start;
    height: 75px;
    padding: 5px;
    margin: 5px;
    text-align: left;
    flex: 1;
} */


.mat-mdc-raised-button.mat-primary {
    background-color: #2e003e;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;    
}

.mat-mdc-raised-button.mat-primary:hover {
    background-color: #ffffff;
    color: #2e003e;
}

.Monserrat{
    font-family: Montserrat;

}

.center-content {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

}


@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
