.div {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px; 
}

.title-section {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: rgb(56, 28, 117);
    margin-bottom: 30px;
    margin-top: 50px;
}

.table-container {
    margin-top: 30px;     
    padding-bottom: 40px;
    margin: 0 auto;
    width: 80%;
}
.reviews-table {
    margin-top: 20px; 
    margin-bottom: 140px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black; 
    color:  linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
}

.reviews-table th, .reviews-table td {
    padding: 10px;
    text-align: center; 
    border: 1px solid black; 
}
th{
    background:  linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
}
.reviews-table th {
    font-size: 18px;
    font-weight: normal; 
}

/* Add necessary styles for the stars */
#applicationReview-details span {
    font-size: 30px; /* Adjust the size as needed */
    color: gold; /* Adjust the color as needed */
    margin-right: 5px; /* Adjust the spacing between stars */
}
