form {
    margin-top:50px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

div {
    width: 400px;
    display:flex;
    flex-direction: column;
}

.action-button {
    margin-top: 20px;
    background: linear-gradient(rgb(56, 28, 117), rgb(65, 59, 131));
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .action-button:hover {
    background: white;
    color: black;
    border: 1px solid rgb(56, 28, 117);
  }

  .center-class {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
  }

  h1{
    color: rgb(56, 28, 117);
    margin-top: 60px;
    min-width: 90vw;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  p{
    color: rgb(56, 28, 117);
    margin-top: 40px;
    margin-bottom: 20px;
    min-width: 90vw;
    display: flex;
    justify-content: center;
    align-content: center;
  }