<div id="userAccounts">
    <div class="user-title-section">
        <h1 class="user-title">Equipment</h1>
    </div>
    <div class="table-container">
        <table class="user-table">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Opis</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eq of equipment">
                    <td>{{eq.name}}</td>
                    <td>{{eq.description}}</td>
                    <td>
                        <button color="accent" (click)="deleteEquipment(eq.id || 0)">
                            Delete
                        </button>
                    </td>
                    <td>
                        <button color="primary" (click)="onEditClicked(eq)">
                            Edit
                        </button>
                    </td>
                </tr>
                <tr><button color="primary" (click)="onAddClicked()" mat-icon-button id="entity-icon-button">
                    <mat-icon>add</mat-icon>
                </button></tr>
            </tbody>
        </table>
    </div>
    <div>
        <xp-equipment-form *ngIf="shouldRenderEquipmentForm" [shouldEdit]="shouldEdit" [equipment]="selectedEquipment" (equimpentUpdated)="getEquipment()"></xp-equipment-form>
    </div>
</div>