<form [formGroup]="bundleDataForm" class="center-class">
    <div>

        <mat-form-field  class="custom-form-field">
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" type="number"  [value]="selectedBundle?.price" />
          </mat-form-field>
        <div class="table-container">
            <table class="tours-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Add</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tour of tours">
                        <td>{{ tour.name }}</td>
                        <td>{{ tour.price }}</td>
                        
                        <td>
                            <button
                              color="primary"
                              (click)="tour.isAdded ? onRemoveClicked(tour) : onAddClicked(tour)"
                              mat-raised-button
                            >
                              {{ tour.isAdded ? '-' : '+' }}
                            </button>
                          </td>
    
                    </tr>
                </tbody>
            </table>
            <div class="button-container">
                <a color="primary" class="view-button"  (click)="createBundle(selectedBundle)"  mat-raised-button>Done</a>
            </div>
        </div>
    
    </div>
  </form>
  