<div class="all"> 
<form [formGroup]="bundleDataForm" class="center-class">
  <div class="form-container">
    <div class="tour-container">
      <div *ngFor="let tour of tours" class="tour-item">
        <div class="image-container">
          <!-- Use the image source property accordingly -->
          <img [src]="tour.image" alt="Tour Image" class="tour-image" />
          <div class="overlay">
            <div class="tour-description">
              <h3>{{ tour.name }}</h3>
            </div>
            <br>
            <div class="tour-price">
              <p>Price: {{ tour.price }}AC</p>
            </div>
          </div>
        </div>
        <div class="tour-actions">
          <button style="color: rgb(56, 28, 117);" (click)="tour.isAdded ? onRemoveClicked(tour) : onAddClicked(tour)"
          mat-raised-button
        >
          {{ tour.isAdded ? '-' : '+' }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <mat-form-field class="custom-form-field">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" type="number" [value]="selectedBundle?.price" />
  </mat-form-field>
  <div class="button-container">
    <a class="action-button-ng" color="primary" (click)="createBundle(selectedBundle, bundleDataForm.value.price)" mat-raised-button>Done</a>
  </div>
</form>
</div>